<div>

    <div class="flex justify-center items-center py-8 ">
        <img alt="Starbucks® Delivers" class="block"
            src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-82604.png">
    </div>

    <div class="py-5 flex items-center justify-center text-center">
        <h1 class=" mb4 md font-semibold text-xl text-green-800 ">Today deserves delivery</h1>
    </div>


    <div class="py-10 flex flex-col-reverse md:flex-row ">
        
        <div class="bg-green-800 text-center w-full md:w-1/2 flex justify-center items-center">
            <div class="max-w-md mx-auto md:max-w-2xl text-white">
                <div class="p-6 items-center">
                    <div class="text-2xl md:text-4xl font-bold">Your coffee is on its way</div>
                    <p class="py-5 mt-2 text-base md:text-xl">Order Starbucks® delivery on DoorDash or Uber Eats and let your favorites come to you.</p>
                </div>
            </div>
        </div>
        
        <div class="w-full md:w-1/2">
            <img src="../../images/order/delivery-image.jpeg" class="block w-full">
        </div>
        
    </div>


    <div class="py-3 flex flex-col md:flex-row gap-10 ">

        <div class="bg-[#d4e9e2] w-full md:w-1/2 flex py-10 items-center justify-center text-center">
            <div class="max-w-md mx-auto md:max-w-2xl text-white">
                <img src="../../images/order/doordash logo.webp"  alt="">
                <div class="flex items-center justify-center text-center">
                    <a href="https://www.doordash.com/sdl/Starbucks/?ignore_splash_experience=true&utm_source=Enterprise&utm_medium=Enterprise&utm_campaign=CX_US_EP_EP_EP_PAR_CUSXXX__+Starbucks_Delivery_Landing_Page_Dec2023">
                        <button class="bg-[#d4e9e2] hover:bg-slate-300 outline outline-1 text-black font-bold py-2 px-4 rounded-full">Order now</button>
                    </a>
                    
                </div>
            </div>
        </div>
        <div class="w-full md:w-1/2 bg-[#d4e9e2] py-10">
            <div class="max-w-md mx-auto md:max-w-2xl text-white">
                <img src="../../images/order/UberEats logo.webp" class="w-70 h-50">
                <div class="flex items-center justify-center text-center">
                    <a href="https://www.ubereats.com/brand/starbucks?&utm_campaign=bd-starbucks-US-evergreendelivery_Owned_landingpage_US&utm_source=starbucks&utm_medium=Web&publisher=Uber%20Eats%20-%20BD%20(Biz%20Dev)%20-%20Partnerships&publisher_sub_campaign_name=bd-starbucks-US-evergreendelivery_Owned_landingpage_US">
                        <button class="bg-[#d4e9e2] hover:bg-slate-300 outline outline-1 text-black font-bold py-2 px-4 rounded-full">Order now</button>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>



    <div class="bg-[#f3f0eb] flex-col justify-center text-center">
        <div class="max-w-md mx-auto md:max-w-2xl">
            <div class=" font-semibold  text-[#1e3934] text-[24px] py-10">
                <h2 class="">Questions? We’ve got answers.</h2>
            </div>

            <div class=" text-[#1e3934] text-[19px] ">
                <div class="font-semibold ">
                    <h3>How do I order Starbucks® delivery?</h3>
                </div>
                <div class="mt-2">
                    <h5>Place an order through the DoorDash app <a class="underline hover:no-underline" href="https://www.doordash.com/sdl/Starbucks/?ignore_splash_experience=true&utm_source=Enterprise&utm_medium=Enterprise&utm_campaign=CX_US_EP_EP_EP_PAR_CUSXXX__+Starbucks_Delivery_Landing_Page_Dec2023">here </a>or check the Uber Eats app <a class="underline hover:no-underline" href="https://www.ubereats.com/brand/starbucks?&utm_campaign=bd-starbucks-US-evergreendelivery_Owned_landingpage_US&utm_source=starbucks&utm_medium=Web&publisher=Uber%20Eats%20-%20BD%20(Biz%20Dev)%20-%20Partnerships&publisher_sub_campaign_name=bd-starbucks-US-evergreendelivery_Owned_landingpage_US">here </a> for availability.
                    </h5>
                </div>
            </div>

            <div class=" text-[#1e3934]  text-[19px] py-5">
                <div class="font-semibold ">
                    <h3>Can I get the full menu of items available at my local Starbucks® store delivered?</h3>
                </div>
                <div class="mt-2">
                    <h5>To maintain the high standards of quality and consistency we know you expect from us, we’ve
                        optimized our menu for Starbucks® delivery. Consequently, select items are currently unavailable
                        for
                        Starbucks® delivery.</h5>
                </div>
            </div>


            <div class=" text-[#1e3934] text-[19px] py-5">
                <div class="font-semibold ">
                    <h3>Can I pay for Starbucks® delivery with my Starbucks card or through the Starbucks app?</h3>
                </div>
                <div class="mt-2">
                    <h5>Paying for delivery with a Starbucks Card or app isn’t supported at this time. We encourage you
                        to place an order for Starbucks® delivery using the DoorDash app or the Uber Eats app (both
                        available in select markets); you can always use the Starbucks app to order ahead with Mobile
                        Order and Pay and pick up your treats at a participating store.</h5>
                </div>
            </div>

            <div class=" text-[#1e3934] text-[19px] py-5">
                <div class="font-semibold ">
                    <h3>Will I earn stars when I order Starbucks® delivery?</h3>
                </div>
                <div class="mt-2">
                    <h5>Starbucks® delivery is currently not eligible for Starbucks® Rewards benefits. Learn more about
                        Starbucks® Rewards benefits <a class="underline hover:no-underline" href="../../pages/reward/reward.html">here.</a> </h5>
                </div>
            </div>

            <div class=" text-[#1e3934] text-[19px] py-5">
                <div class="font-semibold ">
                    <h3>Is Starbucks® delivery available near me?</h3>
                </div>
                <div class="mt-2">
                    <h5>To find out if Starbucks® delivery is available where you are, check the DoorDash app <a class="underline hover:no-underline" href="https://www.doordash.com/sdl/Starbucks/?ignore_splash_experience=true&utm_source=Enterprise&utm_medium=Enterprise&utm_campaign=CX_US_EP_EP_EP_PAR_CUSXXX__+Starbucks_Delivery_Landing_Page_Dec2023">here </a>or check the Uber Eats app <a class="underline hover:no-underline" href="https://www.ubereats.com/brand/starbucks?&utm_campaign=bd-starbucks-US-evergreendelivery_Owned_landingpage_US&utm_source=starbucks&utm_medium=Web&publisher=Uber%20Eats%20-%20BD%20(Biz%20Dev)%20-%20Partnerships&publisher_sub_campaign_name=bd-starbucks-US-evergreendelivery_Owned_landingpage_US">here</a> </h5>
                </div>
            </div>

            <div class=" text-[#1e3934] text-[19px] py-5">
                <div class="font-semibold ">
                    <h3>What do I do if I have an issue with my Starbucks® delivery?h3>
                </div>
                <div class="mt-2">
                    <h5>Please reach out to DoorDash customer service at <a class="underline hover:no-underline" href="">1-855-431-0459</a> or Uber Eats customer service at <a class="underline hover:no-underline" href="">1-800-253-9377</a>
                        , or go to the Help section in the DoorDash or Uber Eats apps.</a>.</h5>
                </div>
            </div>


            <div class=" text-[#1e3934] text-[19px] py-5">
                <div class="font-semibold ">
                    <h3>What if I want to pick up my Starbucks® delivery order in the store?</h3>
                </div>
                <div class="mt-2">
                    <h5>Starbucks® delivery isn't available for pick up in a Starbucks store. However, you can still
                        order on the Starbucks® app with Mobile Order and Pay and pick up your favorite treats at a
                        participating store. Click <a class="underline hover:no-underline" href="../../pages/order/order.html">here</a>  to learn more.</a>.</h5>
                </div>
            </div>

        </div>

    </div>

    <div class="max-w-md mx-auto md:max-w-2xl">
        <div class="p-3 items-center py-4">
            <p class="py-2 mt-2  text-[14px] text-center"> Product image may vary from delivered product.
                Menu limited. Restricted delivery area. Available in participating locations only. Fees subject to
                change. Prices for Starbucks® items purchased through Uber Eats or DoorDash may be higher than
                posted in stores or as marked. Your delivery order may be limited in any one transaction to one
                hundred dollars ($100) before taxes, tip, and fees. We may adjust this limit at any time at our
                discretion. See each delivery app for details.</p>
        </div>
    </div>





</div>