<div>
    <div class="w-full max-w-screen-2xl mx-auto">
        <div class=" flex justify-center text-center ">
            <div class="max-w-md mx-auto md:max-w-2xl">
                <div class="p-6 text-center">
                    <div class="text-2xl text-[50px] font-semibold text-[#0f6342] font-sans mt-3"> A STORE FOR EVERYONE</div>
                    <p class="py-5 mt-2  text-[19px] text-[#1e3932]"> Your moments matter, whether you're pressed for
                        time or have
                        hours to unwind. That’s why we have a store that’s convenient for quick pick ups, hanging out
                        with friends, and everything in between. Your coffee breaks, from rush hour pitstops to relaxing
                        with friends, can be effortless.</p>
                </div>
            </div>
        </div>
    </div>


    <div >
        <div class="flex justify-center text-center py-5 bg-[#0f6342]">
            <div class="max-w-md mx-auto md:max-w-2xl">
                <div class=" p-5 text-[19px] text-white underline">
                    <a href="#classic-cafe">Classic Café</a>&nbsp;&nbsp; | &nbsp;&nbsp;
                    <a href="#drive-thru">Drive-thru</a>&nbsp;&nbsp; | &nbsp;&nbsp;
                    <a href="#pick-up">Pick Up</a>&nbsp;&nbsp; | &nbsp;&nbsp;
                    <a href="#starbucks-reserve-and-starbucks-reserve-roastery">Starbucks Reserve® and Starbucks Reserve® Roastery</a>&nbsp;&nbsp; | &nbsp;&nbsp;
                    <a href="#delivery">Delivery</a>&nbsp;&nbsp; | &nbsp;&nbsp;
                    <a href="#groceries-airports-hotels-more">Groceries, Airports, Hotels &amp; More</a>
                </div>
            </div>
        </div>
    </div>


    <div class="py-4 flex flex-col md:flex-row mt-4">
        <div class="w-full md:w-[50%]">
            <img src="../../images/order/pickup-image-1.webp" class="block w-full">
        </div>

        <div class="bg-[#1c3a33] text-center w-full md:w-[50%] flex justify-center items-center">
            <div class="max-w-md mx-auto md:max-w-2xl text-white">
                <div class="p-6 text-start ">
                    <div class="text-2xl md:text-4xl font-bold">Classic Café</div>
                    <p class="py-5 mt-2 text-[19px] md:text-xl">The original, iconic “third place”. A place to sit and
                        stay or order ahead and get on your way.
                        <a href=""><u>  Find a Classic Café,</u> </a> your home away from home.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="py-4 flex flex-col-reverse md:flex-row">

        <div class="bg-[#0f6342] text-center w-full md:w-[50%] flex justify-center items-center">
            <div class="max-w-md mx-auto md:max-w-2xl text-white">
                <div class="p-6 text-start ">
                    <div class="text-2xl md:text-4xl font-bold">Drive-thru</div>
                    <p class="py-5 mt-2 text-[19px] md:text-xl">Drive up, check out the menu and order from the comfort of your car. You can also order ahead of time on the app—just let the barista know when you pull in.</p>
                </div>
            </div>
        </div>
        <div class="w-full md:w-[50%]">
            <img src="../../images/order/pickup-image-2.webp" class="block w-full">
        </div>
    </div>

    <div class="py-4 flex flex-col md:flex-row">
        <div class="w-full md:w-[50%]">
            <img src="../../images/order/pickup-image-3.webp" class="block w-full">
        </div>

        <div class="bg-[#1c3a33] text-center w-full md:w-[50%] flex justify-center items-center">
            <div class="max-w-md mx-auto md:max-w-2xl text-white">
                <div class="p-6 text-start ">
                    <div class="text-2xl md:text-4xl font-bold">Pick Up</div>
                    <p class="py-5 mt-2 text-[19px] md:text-xl">Stores exclusively designed for mobile orders and quick pick up without the wait. Order ahead using the Starbucks app, grab your items and get back to your day!</p>
                    <div class="flex flex-col items-start  ">
                        <button class="bg-green-700 text-white text-[16px] font-medium m-4 p-2 px-5 rounded-full">Learn more </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="py-4 flex flex-col-reverse md:flex-row">
        <div class="bg-[#0f6342] text-center w-full md:w-[50%] flex justify-center items-center">
            <div class="max-w-md mx-auto md:max-w-2xl text-white">
                <div class="p-6 text-start ">
                    <div class="text-2xl md:text-4xl font-bold">Starbucks Reserve® and Starbucks Reserve® Roastery</div>
                    <p class="py-5 mt-2 text-[19px] md:text-xl">A can’t-miss experience for anyone with a passion for coffee. Here you'll find exclusive Starbucks Reserve® coffees, signature cocktails, decadent dishes and hands-on experiences.</p>
                    <div class="flex flex-col items-start  ">
                        <button class="bg-white text-green-700 text-[16px] font-medium m-4 p-2 px-5 rounded-full">Learn more </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full md:w-[50%]">
            <img src="../../images/order/pickup-image-4.webp" class="block w-full">
        </div>
    </div>

    <div class="py-4 flex flex-col md:flex-row">
        <div class="w-full md:w-[50%]">
            <img src="../../images/order/pickup-image-5.webp" class="block w-full">
        </div>

        <div class="bg-[#1c3a33]  text-center w-full md:w-[50%] flex justify-center items-center">
            <div class="max-w-md mx-auto md:max-w-2xl text-white">
                <div class="p-6 text-start ">
                    <div class="text-2xl md:text-4xl font-bold">Delivery</div>
                    <p class="py-5 mt-2 text-[19px] md:text-xl">Enjoy the ultimate convenience when you have your Starbucks order delivered right to you using our partners like <a href=""><u >DoorDash</u></a> and <a href=""><u>Uber Eats*.</u></a></p>
                    <div class="flex flex-col items-start  ">
                        <button class="bg-green-700 text-white text-[16px] font-medium m-4 p-2 px-5 rounded-full">Learn more </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="py-4 flex flex-col-reverse md:flex-row">
        <div class="bg-[#0f6342] text-center w-full md:w-[50%] flex justify-center items-center">
            <div class="max-w-md mx-auto md:max-w-2xl text-white">
                <div class="p-6 text-start ">
                    <div class="text-2xl md:text-4xl font-bold">Groceries, Airports, Hotels & More</div>
                    <p class="py-5 mt-2 text-[19px] md:text-xl">TWherever your day takes you, find a Starbucks® café on your route. From errands to airports, your next coffee run is just around the corner.</p>
                </div>
            </div>
        </div>
        <div class="w-full md:w-[50%]">
            <img src="../../images/order/pickup-image-6.webp" class="block w-full">
        </div>
    </div>


    <div class=" py-3">
        <div class=" flex-col justify-center text-center  items-center py-5 bg-[#cee8c9]">
            <div class="max-w-md mx-auto md:max-w-2xl ">
                <div class="flex justify-center ">
                    <img src="../../images/order/pickup-image-7.webp" alt="">
                </div>

                <div class=" max-w-md mx-auto md:max-w-2xl p-6 text-center">
                    <div class="text-2xl text-[28px] font-semibold text-[#0f6342] font-sans">Make your day, your way.</div>
                    <p class="py-5 mt-2  text-[19px] text-[#1e3932]"> Joining <a href=""><u class="text-green-600" >Starbucks® Rewards </u></a> lets
                        you access Mobile
                        Order and Pay and start earning rewards towards exclusive benefits**. Say hello to easy ordering
                        and customization, tasty Rewards and—yes, free coffee.</p>
                    <div class="flex flex-col items-center mt-5 ">
                        <button
                            class="bg-green-700 text-white text-[16px] font-medium m-4 p-2 px-5 rounded-full">Download
                            the Starbucks® App now</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div>
        <div class=" flex justify-center items-center">
            <img src="../../images/order/pickup-image-8.webp" alt="">
        </div>

        <div class=" flex-col justify-center text-center  items-center py-5 ">
            <div class="max-w-md mx-auto md:max-w-2xl ">
                <div class="flex justify-center ">
                    <img src="../../images/order/pickup-image-9.webp" alt="">
                </div>

                <div class=" max-w-md mx-auto md:max-w-2xl p-6 text-center">
                    <div class="text-2xl text-[28px] font-semibold text-[#0f6342] font-sans">Additional ways to
                        order & pay.
                    </div>
                    <p class="py-5 mt-2  text-[19px] text-[#1e3932]"> Make your visit even smoother when you order
                        <a href=""><u class="text-green-600">online</u></a> and pay with your <a href=""><u class="text-green-600"> Apple Watch,</u> </a> <a href=""><u class="text-green-600" >Garmin </u></a>or <a href=""><u class="text-green-600" >Fitbit.</u></a>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="py-4 flex flex-col md:flex-row">

        <div class="w-full md:w-[50%] bg-[#1c3a33] flex justify-center items-end">
            <img src="../../images/order/pickup-image-10.webp" class="block   w-[50%]">
        </div>

        <div class="bg-[#1c3a33]  text-center w-full md:w-[50%] flex justify-center items-center">
            <div class="max-w-md mx-auto md:max-w-2xl text-white">
                <div class="p-6 text-start">
                    <div class="text-2xl md:text-4xl font-bold"> Innovating for Future Visits</div>
                    <p class="py-5 mt-2 text-base md:text-xl">Thank you for making Starbucks part of your routine. We’re
                        always evolving, with new stores, designs and renovations for unparalleled convenience. We look
                        forward to seeing you again.</p>
                    <div class="flex flex-col items-center mt-5 ">
                        <button class="bg-white text-black text-[16px] font-medium m-4 p-2 px-5 rounded-full">Find
                            Your Nearest Starbucks® Cafe </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="w-full max-w-screen-2xl mx-auto">
        <div class=" flex justify-center text-center ">
            <div class="max-w-md mx-auto md:max-w-2xl">
                <div class="p-3 text-center">
                    
                    <p class="py-2 mt-2  text-[14px]"> *Menu limited. Restricted delivery area. Available
                        in participating locations only. Fees subject to change. Prices for Starbucks® items purchased
                        through Uber Eats or DoorDash may be higher than posted in stores or as marked. See each
                        delivery app for details.</p>
                    <p class="py-2 mt-2  text-[14px]">**Starbucks® Rewards is available at participating stores. Some restrictions apply. Free food and
                        beverage Rewards may be redeemed at participating stores and exclude alcoholic beverages and
                        multi-serve items. For full program details, visit <a href=""> <u>starbucks.com/terms.</u> </a> </p>
                </div>
            </div>
        </div>
    </div>
</div>