<div class="p-6 md:ml-[78px] h-screen">

<h2 class="text-2xl sodan font-bold p-4 md:pl-0">Favorites</h2>

<div class="max-w-80 flex flex-col gap-4">

    <div >
        <img class="w-48" src="../../images/menu/favor.png" alt="">
    </div>
        <p class="text-3xl sodan font-semibold">Save your favorite mixes</p>
        <p class="text-[17px] text-gray-500">Use the heart to save customizations. Your favorites will appear here to order again.</p>
    <div class="flex gap-4 sodan font-semibold text-sm ">
        <a href="../../pages/log-in/log-in.html" class="h-3 p-4 items-center flex justify-center rounded-full outline outline-1 hover:bg-gray-200 ">Sign in</a>
        <a href="../../pages/join-now/join-now.html" class="h-3 p-4 items-center flex justify-center text-white  bg-black hover:bg-gray-600 rounded-full">Join now</a>
</div>
</div>
</div>