<div class="w-full flex flex-col gap-4 ">
    <div class="bg-[#fd2403] w-full h-24 lg:h-32 flex items-center justify-center">
        <h3 class="text-white text-2xl lg:text-5xl sodan font-semibold" >Coming in hot</h3>
    </div>
    <div class="bg-[#fe7bbf] flex flex-col md:flex-row justify-center items-center">

        <div class="w-full ">
            <img src="../../images/menu/feature-menu-6.jpg" alt="">
        </div>

        <div class="bg-[#fe7bbf] w-full flex  justify-center items-center" >
            <div class=" w-[80%] h-[80%] flex flex-col justify-center items-center py-8 px-12 md:p-0">
                <h3 class="text-center mb-8 lg:max-w-[70%] "><span class="sodan font-semibold text-[28px] lg:text-5xl ">New Spicy Dragonfruit Lemonade Refreshers <sup class="text-xl">®</sup></span></h3>
                <p class="max-w-[80%] mb-8 sodan text-2xl text-center">Zesty lemonade and real dragonfruit pieces shaken with a three-pepper chili blend.</p>
                <div class="flex gap-4 items-center text-sm font-bold">
                  <button class="h-3 p-4 items-center flex justify-center rounded-full outline outline-1  hover:bg-black/5 duration-300">Order now</button>
                </div>

            </div>
        </div>
    </div>

    <div class="flex flex-col md:flex-row gap-4">
          <div class="flex flex-col  bg-[#ffbd03]">
            <div class="w-full flex items-center">
              <img
                class="max-w-full h-auto"
                src="../../images/menu/feature-menu-7.jpg"
                alt=""
              />
            </div>
            <div
              class=" w-full flex  justify-center items-center "
            >
              <div class=" sodan flex flex-col justify-center items-center gap-8  text-center text-[#1e3932] py-8 px-12">
                <h3 class="font-semibold text-2xl ">New Spicy Strawberry Lemonade Refreshers<sup class="text-base">®</sup></h3>
                <p class="text-lg leading-10 font-medium">
                    Refreshingly sweet with strawberry pieces and a spicy twist.
                </p>
                <div class="flex gap-4 items-center text-sm font-bold">
                    <button class="h-3 p-4 items-center flex justify-center rounded-full outline outline-1  hover:bg-black/5 duration-300">Order now</button>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-col  bg-[#ffbd03]">
            <div class="w-full flex items-center">
              <img
                class="max-w-full h-auto"
                src="../../images/menu/feature-menu-1.jpg"
                alt=""
              />
            </div>
            <div
              class=" w-full flex  justify-center items-center "
            >
              <div class=" sodan flex flex-col justify-center items-center gap-8  text-center text-[#1e3932] py-8 px-12">
                <h3 class="font-semibold text-2xl ">New Spicy Pineapple Lemonade Refreshers<sup class="text-base">®</sup></h3>
                <p class="text-lg leading-10 font-medium">
                    Real pieces of pineapple shaken with lemonade and our three-pepper chili blend for a spicy-meets-sweet kick.
                </p>
                <div class="flex gap-4 items-center text-sm font-bold">
                    <button class="h-3 p-4 items-center flex justify-center rounded-full outline outline-1 hover:bg-black/5 duration-300">Order now</button>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col  bg-[#d5d0ea]">
          <div class="w-full flex items-center">
            <img
              class="max-w-full h-auto"
              src="../../images/menu/feature-menu-2.jpg"
              alt=""
            />
          </div>
          <div
            class=" w-full flex  justify-center items-center "
          >
            <div class=" sodan flex flex-col justify-center items-center gap-8  text-center text-[#1e3932] py-8 px-12">
              <h3 class="font-semibold text-2xl ">New Lavender Crème Frappuccino<sup class="text-base">®</sup>  blended <br> beverage</br></h3>
              <p class="text-lg leading-10 font-medium">
                  Refreshingly sweet with strawberry pieces and a spicy twist.
              </p>
              <div class="flex gap-4 items-center text-sm font-bold">
                  <button class="h-3 p-4 items-center flex justify-center rounded-full outline outline-1 hover:bg-black/5 duration-300">Order now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col  bg-[#d5d0ea]">
          <div class="w-full flex items-center">
            <img
              class="max-w-full h-auto"
              src="../../images/menu/feature-menu-3.jpg"
              alt=""
            />
          </div>
          <div
            class=" w-full flex  justify-center items-center "
          >
            <div class=" sodan flex flex-col justify-center items-center gap-8  text-center text-[#1e3932] py-8 px-12">
              <h3 class="font-semibold text-2xl ">New Spicy Pineapple Lemonade Refreshers<sup class="text-base">®</sup></h3>
              <p class="text-lg leading-10 font-medium">
                  Real pieces of pineapple shaken with lemonade and our three-pepper chili blend for a spicy-meets-sweet kick.
              </p>
              <div class="flex gap-4 items-center text-sm font-bold">
                  <button class="h-3 p-4 items-center flex justify-center rounded-full outline outline-1 hover:bg-black/5 duration-300">Order now</button>
              </div>
            </div>
          </div>
        </div>
  </div>

  <div class="flex flex-col md:flex-row gap-4">
    <div class="flex flex-col  bg-[#d5d0ea]">
      <div class="w-full flex items-center">
        <img
          class="max-w-full h-auto"
          src="../../images/menu/feature-menu-4.jpg"
          alt=""
        />
      </div>
      <div
        class=" w-full flex  justify-center items-center "
      >
        <div class=" sodan flex flex-col justify-center items-center gap-8  text-center text-[#1e3932] py-8 px-12">
          <h3 class="font-semibold text-2xl ">New Iced Lavender Oatmilk Latte</h3>
          <p class="text-lg leading-10 font-medium">
            Starbucks® Blonde espresso and oatmilk with subtle floral accents and sweetness served over ice.
          </p>
          <div class="flex gap-4 items-center text-sm font-bold">
              <button class="h-3 p-4 items-center flex justify-center rounded-full outline outline-1 hover:bg-black/5 duration-300">Order now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col  bg-[#d5d0ea]">
      <div class="w-full flex items-center">
        <img
          class="max-w-full h-auto"
          src="../../images/menu/feature-menu-5.jpg"
          alt=""
        />
      </div>
      <div
        class=" w-full flex  justify-center items-center "
      >
        <div class=" sodan flex flex-col justify-center items-center gap-8  text-center text-[#1e3932] py-8 px-12">
          <h3 class="font-semibold text-2xl ">New Lavender Oatmilk Chill</h3>
          <p class="text-lg leading-10 font-medium">
            A caffeine-free blend of creamy oatmilk and subtle floral notes, hand-shaken with ice and real dragonfruit pieces.
          </p>
          <div class="flex gap-4 items-center text-sm font-bold">
              <button class="h-3 p-4 items-center flex justify-center rounded-full outline outline-1 hover:bg-black/5 duration-300">Order now</button>
          </div>
        </div>
      </div>
    </div>
</div>

</div>