<div class="bg-[#F9F9F9] w-full flex justify-center border to-black overflow-x-scroll">
   <div class="w-full md:ml-[78px] pl-6 ">
       <ul class="flex text-[13px] ">
           <li class="py-4 mr-8 underline-offset-8 underline">Menu</li>
           <li class="py-4 mr-8 "><a href="./feature-menu.html">Featured</a></li>
           <li class="py-4 mr-8 "><a href="./previous-page.html">Previous</a></li>
           <li class="py-4 mr-8"><a href="./favorites-page.html">Favorites</a></li>
       </ul>
   </div>
</div>