<div class="max-w-[700px] mx-auto px-4 h-auto ">
    <div class="py-8 sodan">
      <h1 class="text-3xl mb-5 text-[#474747] roboto tracking-wider">Future leaders start here</h1>
      <p class="mb-3 text-[18px] text-[#7d7d7d] tracking-wider lato">We’re committed to the success of our partners (employees). Every eligible U.S. partner working part- or full-time receives 100% tuition coverage for a first-time bachelor’s degree through Arizona State University’s online program. Choose from over 140+ diverse undergraduate degree programs, and have our support every step of the way.</p>
    </div>

    <div class="max-w-[900px] mx-auto pl-4 xl:pr-0 flex md:flex-row flex-col items-start gap-10 mt-5">
      <div class="md:w-[60%] w-full h-full">
        <img src="../../images/careers/man-starbuck.webp" alt="">
      </div>

      <div class="md:w-[60%] lg:px-10">
        <h1 class="mb-2 text-lg sodan font-semibold ">Are you a current partner?</h1>
        <p class="text-[#757575] mb-2">Take the next step toward your Arizona State University bachelor's degree with the Starbucks College Achievement Plan.</p>
        <button class="border px-4 py-1 rounded-full border-solid border-[#00754a] text-[#00754a] sodan mt-4 mb-5">Get started</button>
      </div>
    </div>


    <!-- TAKE THE FIRST STEP -->
    <div class="mt-14">
      <h1 class="text-[#737373] font-semibold sodosan text-xl tracking-wide">TAKE THE FIRST STEP</h1>
    </div>
    
    <div class=" grid md:grid-cols-2 gap-4 ">
      <!-- card 1 -->
      <div class="flex items-center h-[112px] p-4 hover:bg-[#f8f8f8] rounded-lg">
        <img class="w-[80px]"  src="../../images/careers/computer-man.webp" alt="">
        <div class="px-3 py-6 sodan text-[18px] tracking-wider">
          <h1>Apply for retail jobs</h1>

        </div>
        
      </div>

      <!-- card 2 -->
      <div class="flex items-center  h-[112px] left-10 p-4 hover:bg-[#f8f8f8] rounded-lg">
        <img class="w-[80px]" src="../../images/careers/graduation-purple.webp" alt="">
        <div class="px-3 sodan text-[18px] tracking-wider">
          <h1>Learn more about ASU's degree offerings</h1>
        </div>
      </div>

      <!-- card 3 -->
      <div class="flex items-center  h-[112px]  p-4 hover:bg-[#f8f8f8] rounded-lg">
        <img class="w-[80px]"  src="../../images/careers/short-hair.webp" alt="">
        <div class="px-3 py-4 sodan text-[18px] tracking-wider">
          <h1>Download SCAP overview</h1>
        </div>
      </div>
    </div>
    
    <!-- how it works -->
    <div class="mt-20">
      <h1 class="text-[#737373] font-semibold sodosan text-xl tracking-wide">HOW IT WORKS</h1>
    </div>

    <div class="grid sm:grid-cols-2 grid-cols-1 items-start gap-8 bg-white mb-16">
       <!-- first card -->
      <div class="bg-white rounded-lg shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px]  flex flex-col p-4">
        <h1 class="roboto tracking-wider text-[21.5px]">1. Become a partner</h1>
        <h2 class="mt-3 text-[#737373] sodan tracking-wide">Apply to Starbucks and join our team.</h2>
      </div>

      <!-- second card -->
      <div class="bg-white rounded-lg shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] flex flex-col p-4">
        <h1 class="roboto tracking-wider text-[21.5px]">2. Enroll at ASU</h1>
        <p class="mt-3 text-[#737373] sodan tracking-wide">Apply to ASU’s online undergrad programs using the SCAP application at starbucks.asu.edu and complete a FAFSA® (Free Application for Federal Student Aid).</p>
      </div>

      <!-- third card -->
      <div class="bg-white rounded-lg shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] flex flex-col  p-4">
        <h1 class="roboto tracking-wider text-[21.5px]">3. Focusing on learning</h1>
        <p class="mt-3 text-[#737373] sodan tracking-wide">Register for classes and focus on your degree program.</p>
      </div>

      <!-- fourth card -->
      <div class="bg-white rounded-lg shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] flex flex-col p-4">
        <h1 class="roboto tracking-wider text-[21.5px]">4. 100% tuition coverage</h1>
        <p class="mt-3 text-[#737373] sodan tracking-wide">Tuition and fees are fully covered.</p>
        <p class="mt-4 text-[#737373] sodan tracking-wide">*Tuition coverage does not include other educational expenses, such as textbooks and laptops. Financial aid may help cover these costs.p>
      </div>
    </div>

    <!-- HONORING -->
    <div class=" max-w-[800px] mx-auto pl-4 xl:pr-0 flex lg:flex-row  md:flex-row-reverse  flex-col-reverse items-start gap-10 mt-5 mb-5">
      <div class="md:w-[50%] w-full h-full px-10">
        <h1 class="sodan font-semibold text-lg ">Honoring our Servicemembers</h1>
        <p class="mt-3 text-[#737373] sodan tracking-wide text-[15px]">To show our gratitude to our veteran partners for their service, they can extend an additional Starbucks College Achievement Plan benefit to a qualifying family member of their choice. The participating family member will receive all of the same benefits as our partners in the program, with access to over 100 different degree programs.</p>
      </div>
      <div class="md:w-[50%] w-full h-full">
        <img class="w-full" src="../../images/careers/beard-man.webp" alt="">
      </div>
    </div>

    <!-- PATHWAY -->
    <div class=" max-w-[800px] mx-auto pl-4 xl:pr-0 flex lg:flex-row  md:flex-row flex-col items-start gap-10 mt-20">
      <div class="md:w-[50%] w-full h-full">
        <img class="w-full" src="../../images/careers/asu.webp" alt="">
      </div>
      <div class="md:w-[50%] w-full h-full px-10">
        <h1 class="sodan font-semibold text-lg ">Pathway to Admission</h1>
        <p class="mt-3 mb-10 text-[#737373] sodan tracking-wide text-[15px]">Pathway to Admission is an expansion of our Starbucks College Achievement Plan benefit. Through this program, Starbucks and Arizona State University provide an admissions pathway for eligible partners (employees) who do not initially qualify for admission. Through Pathway to Admission, eligible partners (employees) can take up to 10 college-level courses to earn their admission into the university, with credit conversion costs fully covered.</p>
      </div>
    </div>


    <!-- FREQUENTLY ASKED QUESTIONS -->
    <div>
      <h1 class="mb-8 mt-8 text-[#757575] text-lg tracking-wide">FREQUENTLY ASKED QUESTIONS</h1>
    </div>

    <!-- Accordion lists -->
    <div class="p-3 w-full max-w-screen-2xl mx-auto">
      <div class="block divide-y">
        <!-- first -->
        <div class="hover:text-[#01764B]">
          <button
            class="btn1 w-full flex justify-between items-center py-4 text-xl cursor-pointer "
          >
            <h2 class="sodan text-left tracking-wider text-[21.5px]">Why is Starbucks offering the College Achievement Plan benefit in the U.S.?</h2>
            <span class="w-[18px] imgArrow duration-300">
              <img class="" src="../../images/layout/down-arrow.png" alt="" />
            </span>
          </button>
          <div
            class="drop1 overflow-hidden max-h-0 transition-max-height duration-500"
          >
            <p class="my-2 text-left text-[18px] text-[#7d7d7d] tracking-wider lato"
            >Starbucks believes in the promise and pursuit of the American Dream. According to the U.S. Department of Education, only half of Americans who begin college today will actually finish, largely due to financial and work / life barriers. In the U.S., we are on the verge of seeing an entire generation of young people left behind due in part to skyrocketing tuition costs that prevent more and more people from starting or finishing their undergraduate degree. To address this growing inequality in America, Starbucks partnered with a like-minded university who recognizes the need to address one of the single most important challenges facing young adults, and our U.S. partners, today - earning a bachelor’s degree. We’re in a position to help. Investing in our partners and education is one of the very best investments Starbucks can make.</p>
          </div>
        </div>

        <!-- second -->
        <div>
          <div
          class="btn1 w-full flex justify-between items-center py-4 text-xl cursor-pointer hover:text-[#01764B]"
          >
            <h2 class="sodan text-left tracking-wider text-[21.5px]">Why is Starbucks partnering with Arizona State University(ASU)?</h2>
            <div class="w-[15.5px] imgArrow duration-300">
              <img class="" src="../../images/layout/down-arrow.png" alt="" />
            </div>
          </div>
          <div
            class="drop1 overflow-hidden max-h-0 transition-max-height duration-500"
          >
            <p class="my-2 text-left text-[18px] text-[#7d7d7d] tracking-wider lato">We spent considerable time looking for the right collaboration for our partners. ASU’s mission, values and brand are a good match to our own. ASU can stand side-by-side with Starbucks to offer a high-quality education, at scale, to all of our eligible U.S. partners. In addition, ASU is ranked as the #1 most innovative school in the country by U.S. News & World Report. Starbucks is proud to partner with an academic institution that recognizes the need for innovation to offer more people an opportunity of a quality higher education, and the freedom to pursue their passions in any field.</p>
          </div>
        </div>

        <!-- third -->
        <div>
          <div
            class="btn1 w-full flex justify-between items-center py-4 text-xl cursor-pointer hover:text-[#01764B]"
          >
            <h2 class="sodan text-left tracking-wider text-[21.5px]">I'm interested in working at Starbucks. How soon can I participate in the Starbucks College Achievement Plan?</h2>
            <div class="w-[25.5px] imgArrow duration-300">
              <img class="" src="../../images/layout/down-arrow.png" alt="" />
            </div>
          </div>
          <div
            class="drop1 overflow-hidden max-h-0 transition-max-height duration-500"
          >
            <p class="my-2 text-left text-[18px] text-[#7d7d7d] tracking-wider lato">To participate in the Starbucks College Achievement Plan, partners (employees) must be benefits-eligible. Part-time U.S. mainland partners establish initial benefits eligibility the first day of the second month after receiving a minimum of 240 total hours over three full, consecutive months. There are six ASU start dates every year—two sessions in the fall semester, two in the spring semester and two in the summer semester. It is recommended you complete the application process at least one month before your preferred start date.</p>
          </div>
        </div>

        <!-- fourth -->
        <div>
          <div
            class="btn1 w-full flex justify-between items-center py-4 text-xl cursor-pointer hover:text-[#01764B]"
          >
            <h2 class="sodan text-left tracking-wider text-[21.5px]">I'm a partner (emplyee). How do I know if I'm eligible for the Starbucks College Achievement Plan?</h2>
            <div class="w-[24px] imgArrow duration-300">
              <img class="" src="../../images/layout/down-arrow.png" alt="" />
            </div>
          </div>
          <div
            class="drop1 overflow-hidden max-h-0 transition-max-height duration-500"
          >
            <p class="my-2 text-left text-[18px] text-[#7d7d7d] tracking-wider lato">All U.S.-based, eligible partners employed by Starbucks-owned businesses—including Evolution Fresh, Siren Retail Corporation, and Starbucks Manufacturing —regardless of role, who do not yet have a bachelor’s degree are eligible to apply.</p>
          </div>
        </div>

        <!-- fifth -->
        <div>
          <div
            class="btn1 w-full flex justify-between items-center py-4 text-xl cursor-pointer hover:text-[#01764B]"
          >
            <h2 class="sodan text-left tracking-wider text-[21.5px]">I'm a benefits-eligible partner. How does the program work and how do I get started?</h2>
            <div class="w-[21px] imgArrow duration-300">
              <img class="" src="../../images/layout/down-arrow.png" alt="" />
            </div>
          </div>
          <div
            class="drop1 overflow-hidden max-h-0 transition-max-height duration-500"
          >
            <ul class=" list-disc list-inside sodan my-2 text-left text-[18px] text-[#7d7d7d] tracking-wider lato">
              <li>Apply to ASU: Visit starbucks.asu.edu to learn more about SCAP and to start your free application. Through the enrollment process, you will submit your official transcripts from high school and all colleges and/or universities you have attended. An ASU Enrollment Coach can walk you through each step of the application process: (844) ASU-SBUX.</li>
              <li>Complete your financial aid file: You must complete the Free Application for Federal Student Aid (FAFSA). You're required to submit the FAFSA and any other financial aid documents each year. Your financial-aid counselor can help you apply. Visit fafsa.ed.gov to get started, and be sure to request that a copy be sent to ASU (school code 001081).</li>
              <li>Register for classes: Once you’re admitted to your degree program, an academic advisor will help you choose classes and make an academic plan to carry you all the way to graduation.</li>
              <li>Get ready: Before classes start complete “ASU 10: Connect–ASU Orientation” (created just for Starbucks partners!). This is a brief orientation to ASU and online learning that gives you the tools to succeed in achieving your academic goals.</li>
              <li>Start classes: Now you’re set up for success—it’s time to focus on the rigorous and rewarding classes you are taking with ASU’s award-winning faculty.</li>
            </ul>
          </div>
        </div>

        <!-- sixth -->
        <div>
          <div
            class="btn1 w-full flex justify-between items-center py-4 text-xl cursor-pointer hover:text-[#01764B]"
          >
            <h2 class="sodan text-left tracking-wider text-[21.5px]">I'm a Starbucks partner enrolled at another college and want to transfer, what should I do?</h2>
            <div class="w-[22px] imgArrow duration-300">
              <img class="" src="../../images/layout/down-arrow.png" alt="" />
            </div>
          </div>
          <div
            class="drop1 overflow-hidden max-h-0 transition-max-height duration-500"
          >
            <p class="my-2 text-left text-[18px] text-[#7d7d7d] tracking-wider lato">You can transfer to ASU at any time—we recommend sooner to get the most benefit from the program—provided you meet their admissions criteria. We encourage you to discuss your options with an ASU enrollment coach, with no obligation to apply or transfer.</p>
          </div>
        </div>

        <!-- seventh -->
        <div>
          <div
            class="btn1 w-full flex justify-between items-center py-4 text-xl cursor-pointer hover:text-[#01764B]"
          >
            <h2 class="sodan text-left tracking-wider text-[21.5px]">As a program participant, what should I expect to pay out-of-pocket for my tuition and fees?</h2>
            <div class="w-[22px] imgArrow duration-300">
              <img class="" src="../../images/layout/down-arrow.png" alt="" />
            </div>
          </div>
          <div
            class="drop1 overflow-hidden max-h-0 transition-max-height duration-500"
          >
            <p class="my-2 text-left text-[18px] text-[#7d7d7d] tracking-wider lato">ASU tuition and fees are fully covered. Other educational expenses, such as textbooks and laptops, are not covered.</p>
          </div>
        </div>
      </div>
    </div>
    

  </div>