<div class="max-w-[700px] mx-auto px-4 h-auto">
  <div class="py-8 sodan">
    <h1 class="text-3xl mb-5 text-[#474747] roboto tracking-wider">
      Expect more than coffee.
    </h1>
    <p class="mb-6 text-[18px] text-[#7d7d7d] tracking-wider lato">
      From the beginning, Starbucks set out to be a different kind of company.
      One that not only celebrated coffee but also connection. We’re a
      neighborhood gathering place, a part of your daily routine. Get to know us
      and you’ll see: we are so much more than what we brew. We call our
      employees partners because we are all partners in shared success. We make
      sure everything we do is through the lens of humanity—from our commitment
      to the highest-quality coffee in the world, to the way we engage with our
      customers and communities to do business responsibly.
    </p>

    <h2 class="text-lg mb-8 text-[#757575] tracking-wide lato">OUR MISSION</h2>
    <p class="mb-8 text-[18px] text-[#7d7d7d] tracking-wider lato">
      With every cup, with every conversation, with every community - we nurture
      the limitless possibilities of human connection.
    </p>

    <h3 class="text-lg mb-8 text-[#757575] tracking-wide lato">OUR VALUES</h3>
    <p class="mb-6 text-[18px] text-[#7d7d7d] tracking-wide lato">
      When we show up at our best, we deliver performance through the lens of
      humanity.
    </p>
  </div>

  <!-- WHITE CARD -->

  <div class="grid min-[480px]:grid-cols-2 gap-8 bg-white">
    <!-- card 1 -->
    <div
      class="bg-white rounded-lg shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] p-4 flex flex-col gap-4"
    >
      <h1 class="sodan tracking-wider text-2xl">Craft</h1>
      <h2 class="text-[#757575]">
        We delight in the rigor of the details—no matter what our job is
      </h2>
      <h3 class="text-[#757575]">
        We learn and teach in the pursuit of growth
      </h3>
      <h4 class="text-[#757575]">
        We deliver excellence with passion and creativity
      </h4>
    </div>

    <!-- card 2 -->
    <div
      class="bg-white rounded-lg shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] p-4 flex flex-col gap-4"
    >
      <h1 class="sodan tracking-wider text-2xl">Courage</h1>
      <h2 class="text-[#757575]">
        We embrace the difficult conversations, with respect, to make us better
      </h2>
      <h3 class="text-[#757575]">
        We pursue audacious ideas beyond our comfort zone
      </h3>
      <h4 class="text-[#757575]">We do the right thing, even when it's hard</h4>
    </div>

    <!-- card 3 -->
    <div
      class="bg-white rounded-lg shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] p-4 flex flex-col gap-4"
    >
      <h1 class="sodan tracking-wider text-2xl">Results</h1>
      <h2 class="text-[#757575]">
        We consistently achieve our goals with focus, integrity, and drive
      </h2>
      <h3 class="text-[#757575]">We continuously innovate to stay ahead</h3>
      <h4 class="text-[#757575]">
        We exceed the expectations of the people we serve
      </h4>
    </div>

    <!-- card 4 -->
    <div
      class="bg-white rounded-lg shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] p-4 flex flex-col gap-4"
    >
      <h1 class="sodan tracking-wider text-2xl">Belongings</h1>
      <h2 class="text-[#757575]">
        We actively listen and connect with warmth and transparency
      </h2>
      <h3 class="text-[#757575]">We recognize every person for who they are</h3>
      <h4 class="text-[#757575]">We treat each other with dignity and care</h4>
    </div>

    <!-- card 5 -->
    <div
      class="bg-white rounded-lg shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] p-4 flex flex-col gap-4"
    >
      <h1 class="sodan tracking-wider text-2xl">Joy</h1>
      <h2 class="text-[#757575]">
        We take pride in our work and have fun while doing it
      </h2>
      <h3 class="text-[#757575]">We celebrate each other and our wins</h3>
      <h4 class="text-[#757575]">
        We create great vibes to bring the best out of others
      </h4>
    </div>
  </div>

  <!-- A CULTURE OF UNCLUSION -->

  <div class="mt-20">
    <img src="../../images/careers/staff1.webp" alt="" />
    <div class="flex flex-col gap-4 items-start ml-[26px]">
      <h1 class="sodan font-semibold text-lg my-3">A culture of unclusion</h1>
      <p class="text-[#757575]">
        We're committed to upholding a culture where inclusion, diversity,
        equity and accessibility are valued and respected. Your entire
        experience—starting with your application—is designed to be the
        beginning of an inspirational journey, where you are treated warmly and
        with transparency, dignity and respect.
      </p>
      <p class="text-[#757575]">
        We actively hire individuals with disabilities and provide reasonable
        accommodations and assistive technologies that enable people to do their
        jobs. Starbucks is committed to offering reasonable accommodation for
        job applicants with disabilities. If you need assistance or an
        accommodation due to a disability, please contact us at
        <a class="text-[#1b7e58] underline hover:no-underline" href=""
          >applicantaccommodation@starbucks.com</a
        >.
      </p>
      <p class="text-[#757575]">
        Our many Partner Networks (also referred to as employee resource groups)
        work to create an inclusive environment across Starbucks representing
        the broad spectrum of our partner backgrounds.
      </p>
    </div>
  </div>

  <!-- CORPORATE AND SOCAIL RESPONSIBILITY SECTION -->

  <div class="mt-12">
    <h1 class="mb-10 text-[#757575] text-lg tracking-wide">
      CORPORATE AND SOCIAL RESPONSIBILITY
    </h1>
    <div class="grid lg:grid-cols-2 gap-8">
      <!-- first section -->
      <div>
        <img src="../../images/careers/victoria1.webp" alt="" class="w-full" />
        <div class="lg:w-[266px] lg:h-[380px] ml-[26px] whitespace-normal">
          <h1 class="sodan font-semibold text-lg my-3">Opportunity for all</h1>
          <p class="mb-5 text-[#757575]">
            As a leader in hiring great talent, Starbucks has and will always
            look to create opportunities for our partners and customers in the
            communities we serve. Our goals are focused on hiring more
            Opportunity Youth, refugees, veterans and military spouses. To date,
            we have hired over 40,000 Veterans and military spouses since 2013.
          </p>
          <button
            class="rounded-full border-solid border px-4 py-1 border-[#00754a] text-[#00754a]"
          >
            Learn more
          </button>
        </div>
      </div>

      <!-- second section -->
      <div>
        <img src="../../images/careers/house.webp" alt="" class="w-full" />
        <div class="lg:w-[266px] lg:h-[380px] ml-[26px] whitespace-normal">
          <h1 class="sodan font-semibold text-lg my-3">Greener retail</h1>
          <p class="mb-5 text-[#757575]">
            Starbucks is building and operating stores with an aim to minimize
            our environmental footprint with ambitious goals for 2020 and
            beyond. We plan to build and operate 10,000 greener retail stores,
            improve the recyclability of our cup and invest in 100% renewable
            energy.
          </p>
          <button
            class="rounded-full border-solid border px-4 py-1 border-[#00754a] text-[#00754a] mt-12"
          >
            Learn more
          </button>
        </div>
      </div>

      <!-- third section -->
      <div>
        <img src="../../images/careers/fruit.webp" alt="" class="w-full" />
        <div class="lg:w-[266px] lg:h-[380px] ml-[26px] whitespace-normal">
          <h1 class="sodan font-semibold text-lg my-3">Sustainable coffee</h1>
          <p class="mb-5 text-[#757575]">
            Starbucks® coffee is verified 99% ethically sourced. We are working
            with other industry leaders to make coffee the first sustainable
            agricultural product. We plan to invest in training and financing
            for coffee farmers, and providing 100 million coffee trees by 2025.
          </p>
          <button
            class="rounded-full border-solid border px-4 py-1 border-[#00754a] text-[#00754a]"
          >
            Learn more
          </button>
        </div>
      </div>

      <!-- fourth section -->
      <div>
        <img src="../../images/careers/teamwork.webp" alt="" class="w-full" />
        <div class="lg:w-[266px] lg:h-[380px] ml-[26px] whitespace-normal">
          <h1 class="sodan font-semibold text-lg my-3">
            Strengthening <br />
            Communities
          </h1>
          <p class="mb-5 text-[#757575]">
            Each Starbucks® store is a part of a community, and we’re committed
            to strengthening neighborhoods wherever we do business. We plan to
            rescue 100% of food available to donate by 2020 in U.S.
            company-owned stores and have 100% of our stores worldwide
            participating in community service annually by 2020.
          </p>
          <button
            class="rounded-full border-solid border px-4 py-1 border-[#00754a] text-[#00754a]"
          >
            Learn more
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- TRAINING AND DEVELOPMENT -->
  <div class="mt-20">
    <img src="../../images/careers/communicate.webp" alt="" class="w-full" />
    <div class="flex flex-col gap-2 items-start ml-[26px] text-wrap">
      <h1 class="sodan font-semibold text-lg my-2">Training and development</h1>
      <p class="text-[#757575]">
        At Starbucks, we are devoted to supporting, engaging and investing in
        the development of our partners. Our goal is to provide our valued
        partners with learning opportunities to develop skills, further careers
        and help partners achieve their personal and professional goals. As a
        partner (employee) who is curious, collaborative and a continuous
        learner, you’ll have limitless opportunities to make an impact and
        thrive, all while becoming your personal best and being recognized for
        it. We reward partners who achieve results, live our mission and values
        and help others succeed.
      </p>
    </div>
  </div>

  <!-- EXPLORE CAREER PATHS -->

  <div class="mt-10">
    <h1
      class="text-[#737373] text-[19px] font-bold sodosan text-xl tracking-wide mt-5"
    >
      EXPLORE CAREER PATHS
    </h1>
  </div>
  <div class="grid grid-cols-2 items-start gap-8 mt-5">
    <!-- first card -->
    <div
      class="bg-white rounded-lg shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] flex flex-col items-start overflow-hidden"
    >
      <img src="../../images/careers/three staffs.webp" alt="" />
      <div class="flex flex-col gap-2 items-start p-4">
        <h1 class="roboto tracking-wider text-[21.5px]">Retail Stores</h1>
        <h2 class="mb-2 text-[#757575] text-[16px]">
          Create the Starbucks Experience for our customers
        </h2>
        <button
          class="rounded-full border-solid border px-4 py-1 border-[#2b8b68] text-[#00754a]"
        >
          Learn more
        </button>
      </div>
    </div>

    <!-- second card -->
    <div
      class="bg-white rounded-lg shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] flex flex-col items-start overflow-hidden"
    >
      <img src="../../images/careers/staff and coffee.webp" alt="" />
      <div class="flex flex-col gap-2 items-start p-4">
        <h1 class="roboto tracking-wider text-[21.5px]">Corporate Roles</h1>
        <h2 class="mb-2 text-[#757575] text-[16px]">
          Support our brand’s growth and results
        </h2>
        <button
          class="rounded-full border-solid border px-4 py-1 border-[#2b8b68] text-[#00754a]"
        >
          Learn more
        </button>
      </div>
    </div>

    <!-- third coffee -->
    <div
      class="bg-white rounded-lg shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] flex flex-col items-start overflow-hidden"
    >
      <img src="../../images/careers/manufacturing.webp" alt="" />
      <div class="flex flex-col gap-2 items-start p-4">
        <h1 class="roboto tracking-wider text-[21.5px]">
          Manufacturing and Distribution
        </h1>
        <h2 class="mb-2 text-[#757575] text-[16px]">
          Produce and ship products that delight customers
        </h2>
        <button
          class="rounded-full border-solid border px-4 py-1 border-[#2b8b68] text-[#00754a]"
        >
          Learn more
        </button>
      </div>
    </div>

    <!-- fourth card -->
    <div
      class="bg-white rounded-lg shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] flex flex-col items-start overflow-hidden"
    >
      <img src="../../images/careers/staff daniel.webp" alt="" />
      <div class="flex flex-col gap-2 items-start p-4">
        <h1 class="roboto tracking-wider text-[21.5px]">
          Starbucks Reserve & Princi Production Kitchens
        </h1>
        <h2 class="mb-2 text-[#757575] text-[16px]">
          Ignite a culinary career with coffee and craft
        </h2>
        <button
          class="rounded-full border-solid border px-4 py-1 border-[#2b8b68] text-[#00754a]"
        >
          Learn more
        </button>
      </div>
    </div>
  </div>

  <!-- EMPLOYEE SPOTLIGHT -->

  <div class="mt-16">
    <h1 class="mb-10 text-[#757575] text-lg tracking-wide">
      EMPLOYEE SPOTLIGHT
    </h1>
  </div>
</div>
<!-- EMPLOYEE SPOTLIGHT -->
<div
  class="max-w-[800px] mx-auto pl-4 xl:pr-0 flex md:flex-row flex-col items-start gap-10 mt-5"
>
  <div class="md:w-[50%] w-full h-full">
    <img
      class="w-full"
      src="../../images/careers/grandpa-red-shirt.webp"
      alt=""
    />
  </div>

  <div class="md:w-[50%] w-full h-full pr-16">
    <h1 class="sodosan font-bold text-[16px] tracking-wide my-2">
      Creating better accessibility
    </h1>
    <p class="text-[15.5px] text-[#757575]">
      “I work to foster deeper roots of accessibility in the Starbucks culture,
      to promote and accelerate the hiring of more people with disabilities and
      with the help of all the incredible partners, to make Starbucks the most
      inclusive company in the world. Starbucks is committed to including people
      with disabilities in the company and getting accommodations to perform my
      job is a given here. I use a screen reader, Braille typewriter and even
      have an accessible Cisco phone with key identifiers.”
    </p>
    <h2 class="sodan font-bold text-[18px] tracking-wide my-2">
      Mark, Human Resources
    </h2>
  </div>
</div>
