<div class="max-w-[700px] mx-auto px-4 h-auto">
    <div class="py-8 sodan">
        <h1 class="text-3xl mb-5 text-[#474747] roboto tracking-wider">
            We’re all over the world. Join one of our support center offices around the globe.
        </h1>
        <p class="text-[#757575] mb-5 sodan text-[17px]">Starbucks is one of the most widely recognized brands in the world. But no matter where you go in the world, we work very hard to deliver on our Starbucks mission and create genuine moments of connection with our customers. International positions at global Support Centers help our markets deliver a consistently uplifting experience for our customers and partners. We know that no two countries are the same—and so we encourage our partners to immerse themselves in the local culture and allow the flavors and designs of their region to shine through in their work.</p>
        <p class="text-[#757575] sodan text-[17px]">Starbucks has Support Centers all around the globe, including Seattle, Toronto, London, Paris, Munich, Santiago, Rio de Janeiro, Puerto Rico, Shanghai, Hong Kong, Singapore, Bangkok, and Sydney.</p>
    </div>
    
    <!-- take a peek -->
    <div>
        <h1 class="text-[#737373] text-[18px] font-bold sodosan tracking-wide mt-5">TAKE A PEEK AT OUR INTERNATIONAL CAREER CENTER SITES:</h1>
    </div>

    <div class="grid grid-cols-2 gap-4">

        <!-- card 1 -->
        <div class="flex items-center gap-2">
            <img src="../../images/careers/australia.webp" alt="" class="w-[80px] h-[80px]">
            <h1 class="text-slate-800 sodan text-xl">Careers in Australia</h1>
        </div>

    </div>
</div>