<div class="max-w-[700px] mx-auto px-4 h-auto">
    <div class="py-8 sodan">
        <h1 class="md:text-3xl text-2xl mb-5 text-[#474747] roboto tracking-wider">
            We’re all over the world. Join one of our support center offices around the globe.
        </h1>
        <p class="text-[#757575] mb-5 sodan text-[17px]">Starbucks is one of the most widely recognized brands in the world. But no matter where you go in the world, we work very hard to deliver on our Starbucks mission and create genuine moments of connection with our customers. International positions at global Support Centers help our markets deliver a consistently uplifting experience for our customers and partners. We know that no two countries are the same—and so we encourage our partners to immerse themselves in the local culture and allow the flavors and designs of their region to shine through in their work.</p>
        <p class="text-[#757575] sodan text-[17px]">Starbucks has Support Centers all around the globe, including Seattle, Toronto, London, Paris, Munich, Santiago, Rio de Janeiro, Puerto Rico, Shanghai, Hong Kong, Singapore, Bangkok, and Sydney.</p>
    </div>
    
    <!-- take a peek -->
    <div>
        <h1 class="text-[#737373] text-[18px] font-bold sodosan tracking-wide mt-5">TAKE A PEEK AT OUR INTERNATIONAL CAREER CENTER SITES:</h1>
    </div>

    <div class="grid min-[480px]:grid-cols-2 gap-6 p-3 py-4">

        <!-- card 1 -->
        <div class="flex cursor-pointer items-center h-[112px] p-2 hover:bg-[#edebe9] gap-5 rounded-lg">
            <img src="../../images/careers/australia.webp" alt="" class="w-[80px]">
            <h1 class="text-slate-800 sodan text-[18px] sodan tracking-wide">Careers in Australia</h1>
        </div>
        
        <!-- card 2 -->
        <div class="flex cursor-pointer items-center h-[112px] p-2 hover:bg-[#edebe9] gap-5 rounded-lg">
            <img src="../../images/careers/austria.png" alt="" class="w-[80px]">
            <h1 class="text-slate-800 sodan text-[18px] sodan tracking-wide">Careers in Austria</h1>
        </div>

        <!-- card 3 -->
        <div class="flex cursor-pointer items-center h-[112px] p-2 hover:bg-[#edebe9]  gap-5 rounded-lg">
            <img src="../../images/careers/brazil.webp" alt="" class="w-[80px]">
            <h1 class="text-slate-800 sodan text-[18px] sodan tracking-wide">Careers in Brazil</h1>
        </div>

        <!-- card 4 -->
        <div class="flex cursor-pointer items-center h-[112px] p-2 hover:bg-[#edebe9] gap-5 rounded-lg">
            <img src="../../images/careers/canada.webp" alt="" class="w-[80px]">
            <h1 class="text-slate-800 sodan text-[18px] sodan tracking-wide">Careers in Canada</h1>
        </div>

        <!-- card 5 -->
        <div class="flex cursor-pointer items-center h-[112px] p-2 hover:bg-[#edebe9] gap-5 rounded-lg">
            <img src="../../images/careers/chile.webp" alt="" class="w-[80px]">
            <h1 class="text-slate-800 sodan text-[18px] sodan tracking-wide">Careers in Chile</h1>
        </div>

        <!-- card 6 -->
        <div class="flex cursor-pointer items-center h-[112px] p-2 hover:bg-[#edebe9] gap-5 rounded-lg">
            <img src="../../images/careers/china.webp" alt="" class="w-[80px]">
            <h1 class="text-slate-800 sodan text-[18px] sodan tracking-wide">Careers in China</h1>
        </div>

        <!-- card 7 -->
        <div class="flex cursor-pointer items-center h-[112px] p-2 hover:bg-[#edebe9] gap-5 rounded-lg">
            <img src="../../images/careers/france.png" alt="" class="w-[80px]">
            <h1 class="text-slate-800 sodan text-[18px] sodan tracking-wide">Careers in France</h1>
        </div>

        <!-- card 8 -->
        <div class="flex cursor-pointer items-center h-[112px] p-2 hover:bg-[#edebe9] gap-5 rounded-lg">
            <img src="../../images/careers/germany.png" alt="" class="w-[80px]">
            <h1 class="text-slate-800 sodan text-[18px] sodan tracking-wide">Careers in Germany</h1>
        </div>

        <!-- card 9 -->
        <div class="flex cursor-pointer items-center h-[112px] p-2 hover:bg-[#edebe9] gap-5 rounded-lg">
            <img src="../../images/careers/singapore.webp" alt="" class="w-[80px]">
            <h1 class="text-slate-800 sodan text-[18px] sodan tracking-wide">Careers in Singapore</h1>
        </div>

        <!-- card 10 -->
        <div class="flex cursor-pointer items-center h-[112px] p-2 hover:bg-[#edebe9] gap-5 rounded-lg">
            <img src="../../images/careers/switzerland.png" alt="" class="w-[80px]">
            <h1 class="text-slate-800 sodan text-[18px] sodan tracking-wide">Careers in Switzerland</h1>
        </div>

        <!-- card 11 -->
        <div class="flex cursor-pointer items-center h-[112px] p-2 hover:bg-[#edebe9] gap-5 rounded-lg">
            <img src="../../images/careers/thailand.png" alt="" class="w-[80px]">
            <h1 class="text-slate-800 sodan text-[18px] sodan tracking-wide">Careers in Thailand</h1>
        </div>

        <!-- card 12 -->
        <div class="flex cursor-pointer items-center h-[112px] p-2 hover:bg-[#edebe9] gap-5 rounded-lg">
            <img src="../../images/careers/Uk.webp" alt="" class="w-[80px]">
            <h1 class="text-slate-800 sodan text-[18px] sodan tracking-wide">Careers in UK</h1>
        </div>

        <!-- card 13 -->
        <div class="flex cursor-pointer items-center h-[112px] p-2 hover:bg-[#f9f9f9] gap-5 rounded-lg">
            <img src="../../images/careers/usa.webp" alt="" class="w-[80px]">
            <h1 class="text-slate-800 sodan text-[18px] sodan tracking-wide">Careers in USA</h1>
        </div>
    </div>
</div>