<section class=".find-content-layout w-full">
  <div class="w-full flex flex-col lg:flex-row justify-between">
    <!-- find a store -->
    <div class=" lg:py-6 py-0 w-[40%]">
      <!-- after lg -->
      <div class=" sticky top-0 pb-4 pl-8 pr-8">
        <div
          class="relative justify-between items-center w-full hidden lg:flex">
          <input
            class="pb-2 w-full outline-none text-[18px] border-b-[1px] border-black"
            type="text"
            placeholder="Find a store" />
          <img
            class="cursor-pointer absolute right-20 size-[35px]"
            src="../../images/reward/search.png"
            alt="" />

          <button
            id="find-btn"
            class="hover:bg-[#e9f0ee] px-[18px] py-[5px] text-green-700 font-medium border-[1px] border-green-700 rounded-full">
            Filter
          </button>
        </div>
      </div>
      <!-- list location -->
      <div class="h-screen overflow-y-auto w-full flex flex-col gap-1">
        <!-- Original cards design-->
        <div
          class="card-location border-[#00754a] bg-[#e9f0ee] hover:bg-gray-100 border-2 rounded-lg py-[20px] flex justify-between items-center">
          <!-- content -->
          <div class="pl-10">
            <h1 class="font-bold text-[14px]">Olympia Mall</h1>
            <p class="text-[13px]">Shop 1, G/F, Sampovmeas Road, Phnom Penh</p>
            <p class="text-[13px]">2.5 miles away</p>
          </div>
          <!-- button -->
          <div class="pr-4 pl-10">
            <!-- heart and problem mark -->
            <div class="flex justify-end px-2 gap-4">
              <img
                class="size-[20px] cursor-pointer"
                src="../../images/reward/heart.png"
                alt="" />
              <img
                class="rotate-180 size-[20px] cursor-pointer"
                src="../../images/reward/problem.png"
                alt="" />
            </div>
            <div class="pt-2">
              <button
                id="order-btn"
                class="order-btn hover:bg-opacity-90 px-[18px] py-[5px] text-[14px] text-white bg-[#00754a] font-medium border-[1px] rounded-full">
                Order Here
              </button>
            </div>
          </div>
        </div>
        <!-- Calling component from JS -->
        <card-component></card-component>
        <card-component></card-component>
        <card-component></card-component>
      </div>
    </div>
    <!-- list location -->

    <!-- after lg -->
    <div class="lg:px-0 px-4">
      <div class="my-4 relative mx-auto max-w-screen-lg flex lg:hidden">
        <input
          class="pb-2 w-full outline-none text-[18px] border-b-2 border-black/30"
          type="text"
          placeholder="Find a Store" />
        <img
          class="cursor-pointer absolute right-20 size-[35px]"
          src="../../images/reward/search.png"
          alt="" />
        <button
          id="find-btn"
          class="px-[18px] py-[5px] text-green-700 font-medium border-[1px] border-green-700 rounded-full">
          Filter
        </button>
      </div>
    </div>
    <!-- list location -->

    <!-- Google map -->
    <div class="h-[106vh] w-[60%]">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d250151.42198261587!2d104.89018675!3d11.57936425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3109513dc76a6be3%3A0x9c010ee85ab525bb!2sPhnom%20Penh!5e0!3m2!1sen!2skh!4v1713955136091!5m2!1sen!2skh"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="h-full w-full"></iframe>
    </div>
  </div>
</section>
