@tailwind base;
@tailwind components;
@tailwind utilities;
.about-us {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 0, "SHRP" 0;
}

.fira-sans-semibold {
  font-family: "Fira Sans", sans-serif;
}
.manrope-sans {
  font-family: "Manrope", sans-serif;
}
.menu-icon {
  display: inline-block;
  transition: transform 0.3s ease; /* Smooth transform animation */
}


.hind {
  font-family: "Hind", sans-serif;
}
.sodan {
  font-family: "SoDo Sans", sans-serif;
}
.img-bg {
  background: url(https://www.starbucks.com/weblx/images/rewards/hero/xl-hero-desktop_2021.png);
}

.roboto{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sodosan{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.lato{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}