span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(192, 222, 209, 0.5);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
