<div class="p-6 w-full">
    <div class="w-full">
        <div id="btn1" class="header flex justify-between items-center py-4 cursor-pointer">
          <h2>About Us</h2>
          <img class="arrow  h-6" src="../../images/layout/down-arrow.png" alt="">
        </div>
        <div id="drop1" class="dropdown overflow-hidden max-h-0 transition-max-height duration-500">
          <ul class="flex flex-col gap-3 my-4">
            <li >Our Company</li>
            <li >Our Coffee</li>
            <li >Stories and News</li>
            <li >Starbucks Archive</li>
            <li >Investor Relations</li>
            <li >Customer Service</li>
            <li >Contact Us</li>
          </ul>
        </div>
    </div>
    
  
  <hr>
  <div class="bg-red-300 ">3</div>
  <div>4</div>
  <div>5</div>
</div>

  

  
  