    <div class="bg-white">
        <!-- create an account title -->
        <div class="md:text-center max-w-[495px] mx-auto px-4 md:max-w-[560px]">
            <h1 class="font-bold text-2xl md:text-[29px] py-7 md:py-14 tracking-[0.5px]">Create an account</h1>
            <h1 class="text-[13.5px] font-extrabold tracking-[1px] text-[#00000094] pb-4 hidden md:block">STARBUCKS® REWARDS</h1>
            <h1 class="text-[12.5px] font-normal text-wrap text-[#00000094] tracking-[0.5px] hind leading-5 md:text-[13.9px]">Join Starbucks Rewards to earn Stars for free food and drinks, any way you pay. Get access to mobile ordering, a birthday Reward, and <a href="../../pages/reward/reward.html" class="underline hover:no-underline">more</a>.</h1>
        </div>
        <!-- box content -->
        <div class="md:p-8 px-4 pb-1 rounded-xl md:border md:border-[0.1px] md:border-gray-100 md:shadow-lg max-w-[600px] w-full mx-auto mt-8 md:mt-12 mb-16">
            <div class="max-w-[495px] md:max-w-[410px] mx-auto">
                <!-- indicates required field -->
                <div class="md:pt-5">
                    <h1 class="text-sm md:text-base"><span class="text-[#00754a]">*</span> indicates required field</h1>
                    <h1 class="pt-3 md:pt-7 font-semibold text-[18.5px] tracking-[0.4px]">Personal Information</h1>
                </div>
                <!-- box first name -->
                
                <!-- <div class="flex items-center justify-center mt-5">
                    <div class="flex items-center justify-center relative w-full">
                        <input type="text"
                            class="w-full px-6 border rounded-xl border-gray-400 py-[10.5px] md:py-[14px] focus:border-b-2 transition-colors focus:outline-none peer bg-inherit" />
                        <label
                            class="text-lg absolute left-6 cursor-text peer-focus:text-sm peer-focus:-top-3 transition-all peer-focus:text-[#00754a] sodan tracking-[1px]">
                            <h1 class="bg-white px-1"><span class="peer-focus:text-sm text-[#00754a] text-lg">*</span> First name</h1>
                        </label>
                    </div>
                </div> -->
                <!-- box last name -->
                <div class="flex items-center justify-center mt-7 md:mt-8">
                    <div class="flex items-center justify-center relative w-full">
                        <input type="text"
                            class="w-full px-6 border rounded-xl border-gray-400 py-[10.5px] md:py-[14px] focus:border-b-2 transition-colors focus:outline-none peer bg-inherit" />
                        <label
                            class="text-lg absolute left-6 cursor-text peer-focus:text-sm peer-focus:-top-3 transition-all peer-focus:text-[#00754a] sodan tracking-[1px]">
                            <h1 class="bg-white px-1"><span class="peer-focus:text-sm text-[#00754a] text-lg">*</span> Last name</h1>
                        </label>
                    </div>
                </div>

                <div class="pt-9 md:pt-5">
                    <h1 class="pt-4 md:pt-7 font-semibold md:text-[18.5px] tracking-[0.4px]">Account Security</h1>
                </div>
                <!-- box email address -->
                <div class="flex items-center justify-center mt-5">
                    <div class="flex items-center justify-center relative w-full">
                        <input type="text"
                            class="w-full px-6 border rounded-xl border-gray-400 py-[10.5px] md:py-[14px] focus:border-b-2 transition-colors focus:outline-none peer bg-inherit" />
                        <label
                            class="text-lg absolute left-6 cursor-text peer-focus:text-sm peer-focus:-top-3 transition-all peer-focus:text-[#00754a] sodan tracking-[1px]">
                            <h1 class="bg-white px-1"><span class="peer-focus:text-sm text-[#00754a] text-lg">*</span> Email address</h1>
                        </label>
                    </div>
                </div>
                <!-- caption for box -->
                <h1 class="p-2 px-4 md:text-[15.7px] text-[15px] tracking-[0.4px]">This will be your username</h1>

                <!-- box password -->
                <div class="flex items-center justify-center md:mt-8 mt-4">
                    <div class="flex items-center justify-between relative w-full">
                        <input type="password" id="password" class="w-full px-6 border rounded-xl border-gray-400 py-[14px] focus:border-b-2 transition-colors focus:outline-none peer bg-inherit" />
                        <label class="flex text-lg absolute left-6 cursor-text peer-focus:text-sm peer-focus:-top-3 transition-all peer-focus:text-[#00754a] sodan tracking-[1px]">
                            <div>
                                <h1 class="bg-white px-1"><span class="peer-focus:text-sm text-[#00754a] text-lg">*</span> Password</h1>
                            </div>
                        </label>
                        <button class="absolute right-4 size-5" id="eyeicon">
                            <img src="../../images/join-now/unhidden-eye.png" class="size-5" >
                        </button>
                    </div>
                </div>
                <!-- caption for box -->
                <h1 class="mb-7 p-2 px-4 md:text-[15.8px] text-[14.5px] tracking-[0.3px] leading-[21px] md:leading-[22px]">Create a password 8 to 25 characters long that includes at least 1 uppercase and 1 lowercase letter, 1 number and 1 special character like an exclamation point or asterisk.</h1>
                <!-- drop down tap-->
                <div class="transition">
                    <div class="according-header cursor-point transition flex space-x-5 items-center h-12">
                        <h1 href="" class=" text-[#315f4e] font-bold underline hover:no-underline md:text-[17px] text-[15px]" id="drop-letter">Already have a Starbucks gift card?</h1>
                        <img src="../../images/join-now/down.png" class="size-4 rotate-0 duration-300" id="chevron-button" alt="">
                    </div>
                    <!-- (drop down) -->
                    <div class="according-content overflow-hidden max-h-0">
                        <h1 class="text-[15px]">Add your gift card to earn Stars when you pay and order ahead.</h1>
                        <!-- (drop down) box 1 -->
                        <div class="flex items-center justify-center mt-5  pl-10">
                            <div class="flex items-center justify-center relative w-full">
                                <input type="text"
                                    class="w-full px-6 border rounded-xl border-gray-400 py-[12px] md:py-[14px] focus:border-b-2 transition-colors focus:outline-none peer bg-inherit" />
                                <label
                                    class="text-lg absolute left-6 cursor-text peer-focus:text-sm peer-focus:-top-3 transition-all peer-focus:text-[#00754a] sodan tracking-[1px]">
                                    <h1 class="bg-white px-1 text-base md:text-lg"><span class="peer-focus:text-sm text-[#00754a]  text-lg">*</span> Card number (16 digits)</h1>
                                </label>
                            </div>
                        </div>
                        <!-- caption -->
                        <h1 class="pl-14 mt-1 text-[15px]">No spaces or dashes</h1>
                        <!-- (drop dow) box 2 -->
                        <div class="flex items-center justify-center mt-5  pl-10">
                            <div class="flex items-center justify-center relative w-full">
                                <input type="text"
                                    class="w-full px-6 border rounded-xl border-gray-400 py-[12px] md:py-[14px] focus:border-b-2 transition-colors focus:outline-none peer bg-inherit" />
                                <label
                                    class="text-lg absolute left-6 cursor-text peer-focus:text-sm peer-focus:-top-3 transition-all peer-focus:text-[#00754a] sodan tracking-[1px]">
                                    <h1 class="bg-white px-1 text-base md:text-lg"><span class="peer-focus:text-sm text-[#00754a] text-lg">*</span> Security code</h1>
                                </label>
                            </div>
                        </div>
                        <!-- caption -->
                        <h1 class="pl-14 mt-1 text-[15px]">Scratch to reveal 8-digit code</h1>
                    </div>
                </div>
                <!-- tile: collect more stars & earn reward -->
                <div class="md:w-[350px]">
                    <h1 class="md:text-[14px] text-[13px] font-extrabold tracking-[1.5px] text-[#00000094] pb-4 sodan mt-10">COLLECT MORE STARS & EARN REWARDS</h1>
                    <h1 class="md:text-[16px] text-[14px] tracking-[0.2px] md:leading-[22px] md:text-left">Email is a great way to know about offers and what's new from Starbucks.</h1>
                </div>
                <!-- tik box -->
                <div class="flex my-8">
                    <div class="W-1">
                        <input type="checkbox" class="size-6 accent-[#00754a]">
                    </div>
                    <div class="px-3">
                        <h1 class="tracking-[0.5px] mb-4 md:text-base text-sm">Yes, I'd like email from Starbucks</h1>
                        <h1 class="tracking-[0.5px] text-[#00000094] md:text-base text-sm">Know about initiatives, announcements and product offers.</h1>
                    </div>
                </div>
                <!-- tik box -->
                <h1 class="text-[14px] font-extrabold tracking-[1px] text-[#00000094] sodan mt-12">TERMS OF USE</h1>
                <div class="flex my-8">
                    <div class="W-1">
                        <input type="checkbox" class="size-6 accent-[#00754a]">
                    </div>
                    <div class="pl-4 pr-6 flex flex-col">
                        <p class="flex gap-1">
                            <span class="text-[#00754a]">*</span>
                            I agree to the
                            <a href="../../pages/privacy/term.html" class="underline hover:no-underline text-[#00754a]">Starbucks® Rewards Terms </a>
                                <img src="../../images/join-now/open-in-new.png" class="size-[15px] mt-[6px]" alt="">
                        </p>
                        <p class="flex gap-1">
                            and the
                            <a href="../../pages/privacy/term.html" class="underline hover:no-underline text-[#00754a]">Starbucks Card Terms </a>
                                <img src="../../images/join-now/open-in-new.png" class="size-[15px] mt-[6px]" alt="">
                            and have
                        </p>
                        <p class="flex gap-1">
                            read the
                            <a href="../../pages/privacy/privacy-policy.html" class="underline hover:no-underline text-[#00754a]">Starbucks® Rewards Terms </a>
                                <img src="../../images/join-now/open-in-new.png" class="size-[15px] mt-[6px]" alt="">
                        </p>
                    </div>
                </div>
                <!-- button: create account -->
                <div class="flex justify-end my-6 mt-12">
                    <a href="../../pages/home/home.html" class=" bg-[#00754a] px-6 py-4 rounded-full text-white shadow-lg text-lg font-medium tracking-[1px]">Create account</a>
                </div>
            </div>  
        </div>



        <hr class="md:mt-8 border-t-2 shadow-md">
    </div>
    