<div class="w-full flex flex-col gap-8 my-5">
  <div class="flex flex-col md:flex-row bg-[#d3e8e1]">
    <div class="flex-1 flex items-center">
      <img
        class="max-w-full h-auto"
        src="../../images/home/home (1).jpg"
        alt=""
      />
    </div>
    <div
      class=" w-full flex flex-1  justify-center items-center "
    >
      <div class="max-w-[80%] sodan flex flex-col justify-center items-center gap-8  text-center text-[#1e3932] py-8 px-12">
        <h3 class="font-semibold text-3xl lg:text-5xl  ">Hope into half off</h3>
        <p class="text-base md:text-xl lg:text-2xl  leading-10 font-medium">
          This week, play the Spring It On Scavenger Hunt game to earn 50% off a
          spring treat—like a refreshing Lavender Lemonade.
        </p>
        <div class="flex gap-4 items-center text-sm font-bold">
            <a href="../../pages/join-now/join-now.html" class="h-3 p-4 items-center flex justify-center rounded-full outline outline-1 hover:bg-black/5 duration-300">join the fun</a>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col md:flex-row-reverse bg-[#fdd8f7]">
    <div class="w-full flex items-center">
      <img
        class="max-w-full h-auto"
        src="../../images/home/home (3).jpg"
        alt=""
      />
    </div>
    <div
      class=" w-full flex  justify-center items-center "
    >
      <div class="max-w-[80%] sodan flex flex-col justify-center items-center gap-8  text-center text-[#1e3932] py-8 px-12">
        <h3 class="font-semibold text-3xl lg:text-5xl ">Ooh la lavender</h3>
        <p class="text-base md:text-xl lg:text-2xl  leading-10 font-medium">
            Vibe into spring with the new caffeine-free Lavender Oatmilk Chill, featuring subtle floral notes and real dragonfruit pieces. Here for a limited time.
        </p>
        <div class="flex gap-4 items-center text-sm font-bold">
            <a href="../../pages/menu/feature-menu.html" class="h-3 p-4 items-center flex justify-center rounded-full outline outline-1 hover:bg-black/5 duration-300">Order now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col md:flex-row bg-[#97d8b1]">
    <div class="w-full flex items-center">
      <img
        class="max-w-full h-auto"
        src="../../images/home/home (4).jpg"
        alt=""
      />
    </div>
    <div
      class=" w-full flex  justify-center items-center "
    >
      <div class="max-w-[80%] sodan flex flex-col justify-center items-center gap-8  text-center text-[#1e3932] py-8 px-12">
        <h3 class="font-semibold text-2xl  ">Personal cups for good</h3>
        <p class="text-xl  leading-10 font-medium">
            Your choice is a positive and responsible one—because bringing your clean reusable cup helps our planet.
        </p>
        <div class="flex gap-4 items-center text-sm font-bold">
            <a href="../../pages/join-now/join-now.html" class="h-3 p-4 items-center flex justify-center rounded-full outline outline-1 hover:bg-black/5 duration-300">join the fun</a>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col md:flex-row-reverse bg-[#cee8c9]">
    <div class="w-full flex items-center">
      <img
        class="max-w-full h-auto"
        src="../../images/home/home (2).jpg"
        alt=""
      />
    </div>
    <div
      class=" w-full flex  justify-center items-center "
    >
      <div class="max-w-[80%] sodan flex flex-col justify-center items-center gap-8  text-center text-[#1e3932] py-8 px-12">
        <h3 class="font-semibold text-3xl lg:text-5xl  ">Positively delicious</h3>
        <p class="text-base md:text-xl lg:text-2xl  leading-10 font-medium">
            Go for a nondairy pick-me-up with 150 calories or less in a grande. Choose the new Hazelnut Oatmilk Shaken Espresso or classic Brown Sugar Oatmilk Shaken Espresso.
        </p>
        <div class="flex gap-4 items-center text-sm font-bold">
            <a href="../../pages/menu/feature-menu.html" class="h-3 p-4 items-center flex justify-center rounded-full outline outline-1 hover:bg-black/5 duration-300">Order now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col md:flex-row bg-[#006241] ">
    <div class="w-full flex items-center">
      <img
        class="max-w-full h-auto"
        src="../../images/home/home (6).jpg"
        alt=""
      />
    </div>
    <div
      class=" w-full flex  justify-center items-center outline-0"
    >
      <div class="max-w-[80%] sodan flex flex-col justify-center items-center gap-8  text-center text-[#ffffff] py-8 px-12">
        <h3 class="font-semibold text-3xl lg:text-5xl  ">Satisfying favorite</h3>
        <p class="text-base md:text-xl lg:text-2xl  leading-10 font-medium">
            The protein-packed Turkey Bacon, Cheddar & Egg White Sandwich is such a tasty way to power your day.
        </p>
        <div class="flex gap-4 items-center text-sm font-bold">
            <a href="../../pages/join-now/join-now.html" class="h-3 p-4 items-center flex justify-center rounded-full outline outline-1 hover:bg-black/25 duration-300">join the fun</a>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col md:flex-row-reverse bg-[#d4e9e2] ">
    <div class="w-full flex  items-center">
      <img
        class="max-w-full h-auto"
        src="../../images/home/home (5).jpg"
        alt=""
      />
    </div>
    <div
      class=" w-full flex  justify-center items-center outline-0"
    >
      <div class="max-w-[80%] sodan flex flex-col justify-center items-center gap-8  text-center text-[#1e3932] py-8 px-12">
        <h3 class="font-semibold text-2xl  ">Relax with a refreshing delivery deal</h3>
        <p class="text-xl  leading-10 font-medium">
            Get up? Please! Stay right where you are and enjoy 25% off Starbucks orders of $20+ on Uber Eats, 4/8-4/14. Enjoy unlimited redemptions, up to $7 off per order.*
        </p>
        <div class="flex gap-4 items-center text-sm font-bold">
            <a href="../../pages/menu/feature-menu.html" class="h-3 p-4 items-center flex justify-center rounded-full outline outline-1 hover:bg-black/5 duration-300">Order now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center items-center">
    <p class="max-w-[90%] text-sm md:max-w-[60%] md:text-md text-center">*25% off your Starbucks order on Uber Eats from 4/8-4/14. Max discount of $7. Fees and taxes still apply. Menu limited. See the Uber Eats app for availability & restrictions.</p>
  </div>


</div>
