<section class="w-full sticky top-0 z-[30] bg-[#1e3932] py-4 md:px-20 px-4">
  <div
    class="w-full max-w-screen-2xl mx-auto flex justify-between items-center">
    <p class="text-white">STARBUCKS® REWARDS</p>
    <button
      class="hover:opacity-80 flex md:hidden h-2 p-3 items-center justify-center outline outline-1 outline-offset-2 text-white rounded-full">
      Join in the app
    </button>
  </div>
</section>

<!-- hero section -->
<section
  class="md:flex relative w-full bg-[#d4e9e2] xl:h-[50vh] h-[35vh] hidden items-center justify-start">
  <div class="max-w-screen-2xl mx-auto px-4 w-full">
    <!-- content -->
    <div class="flex flex-col gap-3 items-start">
      <h2 class="uppercase text-[36px] font-medium">
        Free Coffee<br />is a tap away
      </h2>
      <p class="text-[18px]">Join now to start earning Rewards.</p>

      <a href="../../pages/join-now/join-now.html" class="bg-green-700 cursor-pointer pointer-events-none text-white px-4 py-1.5 rounded-full">
        Join now
      </a>

      <p class="text-[18px]">
        Or <span><a href="../../pages/order/order.html" class="underline cursor-pointer">Join in the app </a></span>for
        the best experience
      </p>
    </div>
  </div>

  <img
    class="absolute left-0 w-full h-full object-cover"
    src="../../images/reward/xl-hero-desktop_2021.png"
    alt="" />
</section>

<!-- responsive hero section -->
<section class="relative flex md:hidden md:py-10 w-full">
  <div class="w-full">
    <img src="../../images/reward/hero-mobile_2021.jpg" alt="" />
  </div>

  <div
    class="absolute md:w-auto w-full top-0 justify-center mx-auto items-center flex md:hidden">
    <div class="text-center flex flex-col pt-10">
      <h1 class="text-[26px] font-medium">
        FREE COFFEE <br />
        IS A TAP AWAY
      </h1>
      <p class="mt-2 text-[14px]">Join now to start earning Rewards.</p>
      <div class="flex items-center justify-center">
        <button
          class="hover:opacity-90 h-3 p-4 my-4 items-center flex text-white bg-green-700 rounded-full">
          Join the app
        </button>
      </div>
      <p class="text-[14px]">Or join online</p>
    </div>
  </div>
</section>

<!-- getting started is easy -->
<section class="py-20 w-full">
  <div class="w-full max-w-screen-2xl mx-auto text-center py-12">
    <h1 class="text-[26px] pb-4 font-medium">Getting started is easy</h1>
    <p class="md:text-[16px] text-[14px]">
      Earn Stars and get rewarded in a few easy steps.
    </p>
  </div>

  <div
    class="max-w-screen-2xl mx-auto px-4 grid md:grid-cols-3 grid-cols-1 gap-8">
    <!-- Card-1 -->
    <div
      class="flex md:gap-6 gap-4 md:flex-col md:items-center md:text-center md:text-[14px] text-[12px]">
      <img
        src="../../images/reward/getting-started-1@2x.jpg"
        alt=""
        class="w-10 h-10 object-cover" />

      <div class="flex flex-col gap-3">
        <h2 class="md:text-[20px] text-[16px] font-medium">
          Create an account
        </h2>
        <p class="md:text-[16px] text-[14px]">
          To get started,
          <a class="text-green-700 hover:underline" href="../../pages/join-now/join-now.html">join now</a>. You
          can also
          <a class="text-green-700 hover:underline" href="../../pages/order/order.html">join in the app</a>
          to get access to the full range of Starbucks® Rewards benefits.
        </p>
      </div>
    </div>

    <!-- Card-2 -->
    <div
      class="flex md:gap-6 gap-4 md:flex-col md:items-center md:text-center md:text-[14px] text-[12px]">
      <img
        src="../../images/reward/getting-started-2@2x.jpg"
        alt=""
        class="w-10 h-10 object-cover" />

      <div class="flex flex-col gap-3">
        <h2 class="md:text-[20px] text-[16px] font-medium">
          Order and pay how you’d like
        </h2>
        <p class="md:text-[16px] text-[14px]">
          Use cash, credit/debit card or save some time and pay right through
          the app. You’ll collect Stars all ways.
          <a class="text-green-700 hover:underline" href="#cashOrcard">Learn how</a>
        </p>
      </div>
    </div>

    <!-- Card-3 -->
    <div
      class="flex md:gap-6 gap-4 md:flex-col md:items-center md:text-center md:text-[14px] text-[12px]">
      <img
        src="../../images/reward/getting-started-3@2x.jpg"
        alt=""
        class="w-10 h-10 object-cover" />

      <div class="flex flex-col gap-3">
        <h2 class="text-[20px] font-medium">Earn Stars, get Rewards</h2>
        <p>
          As you earn Stars, you can redeem them for Rewards—like free food,
          drinks, and more. Start redeeming with as little as 25 Stars!
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Get your favorites for free -->
<section class="w-full bg-[#f1f8f5] mt-[50px]">
  <!-- heading -->
  <div
    class="max-w-screen-2xl mx-auto bg-[#f1f8f5] h-[80px] flex items-center justify-center">
    <h3 class="text-[26px] font-medium">Get your favorites for free</h3>
  </div>

  <!-- coupon-->

  <div class="flex items-center justify-center space-x-4">
    <!-- number 25 100 200 300 400 -->
    <button
      id="coupon25"
      class="py-2 w-[108px] text-[26px] font-medium justify-center cursor-pointer flex">
      25
      <img class="w-6" src="../../images/reward/star.png" alt="" />
    </button>
    <button
      id="coupon100"
      class="py-2 w-[108px] text-[26px] font-medium justify-center cursor-pointer flex">
      100
      <img class="w-6" src="../../images/reward/star.png" alt="" />
    </button>
    <button
      id="coupon200"
      class="py-2 w-[108px] text-[26px] font-medium justify-center cursor-pointer flex">
      200
      <img class="w-6" src="../../images/reward/star.png" alt="" />
    </button>
    <button
      id="coupon300"
      class="py-2 w-[108px] text-[26px] font-medium justify-center cursor-pointer flex">
      300
      <img class="w-6" src="../../images/reward/star.png" alt="" />
    </button>
    <button
      id="coupon400"
      class="py-2 w-[108px] text-[26px] font-medium justify-center cursor-pointer flex">
      400
      <img class="w-6" src="../../images/reward/star.png" alt="" />
    </button>
  </div>

  <!-- greenline -->
  <div class="max-w-[583px] mx-auto flex items-center">
    <span id="green-underline" class="w-20 flex h-[5px] bg-green-800"></span>
  </div>

  <!-- content image -->
  <div class="w-full bg-[#d4e9e2]">
    <div
      class="max-w-screen-2xl mx-auto md:h-[300px] h-auto flex flex-col md:flex-row">
      <div
        id="content-25"
        class="w-full mx-auto flex md:flex-row flex-col items-center justify-center gap-[50px] py-[40px]">
        <img
          class="md:w-[375px] w-full md:h-[210px] h-full"
          src="../../images/reward/25.png"
          alt="" />
        <div class="flex flex-col max-w-[300px]">
          <h1 class="text-[22px] font-medium">Customize your drink</h1>
          <p class="mt-[20px]">
            Make your drink just right with an extra espresso shot, nondairy
            milk or a dash of your favorite syrup.
          </p>
        </div>
      </div>

      <div
        id="content-100"
        class="w-full mx-auto flex md:flex-row flex-col items-center justify-center gap-[50px] py-[40px] hidden">
        <img
          class="md:w-[375px] w-full md:h-[210px] h-full"
          src="../../images/reward/100.png"
          alt="" />
        <div class="flex flex-col max-w-[300px]">
          <h1 class="text-[22px] font-medium">
            Brewed hot or iced coffee or tea, bakery item, packaged snack and
            more
          </h1>
          <p class="mt-[20px]">
            Treat yourself to an iced coffee, buttery croissant, bag of chips
            and more.
          </p>
        </div>
      </div>

      <div
        id="content-200"
        class="w-full mx-auto md:flex-row flex-col items-center justify-center gap-[50px] py-[40px] flex hidden">
        <img
          class="md:w-[375px] w-full md:h-[210px] h-full"
          src="../../images/reward/200.png"
          alt="" />
        <div class="flex flex-col max-w-[300px]">
          <h1 class="text-[22px] font-medium">
            Handcrafted drink (Cold Brew, lattes and more) or hot breakfast
          </h1>
          <p class="mt-[20px]">
            Turn good mornings great with a delicious handcrafted drink of your
            choice, breakfast sandwich or oatmeal on us.
          </p>
        </div>
      </div>

      <div
        id="content-300"
        class="w-full md:flex-row flex-col mx-auto flex items-center justify-center gap-[50px] py-[40px] hidden">
        <img
          class="md:w-[375px] w-full md:h-[210px] h-full"
          src="../../images/reward/300.png"
          alt="" />
        <div class="flex flex-col max-w-[300px]">
          <h1 class="text-[22px] font-medium">
            Sandwich, protein box or at-home coffee
          </h1>
          <p class="mt-[20px]">
            Enjoy a PM pick-me-up with a lunch sandwich, protein box or a bag of
            coffee—including Starbucks VIA Instant®.
          </p>
        </div>
      </div>

      <div
        id="content-400"
        class="w-full md:flex-row flex-col mx-auto items-center justify-center gap-[50px] py-[40px] flex hidden">
        <img
          class="md:w-[375px] w-full md:h-[210px] h-full"
          src="../../images/reward/400.png"
          alt="" />
        <div class="flex flex-col max-w-[300px]">
          <h1 class="text-[22px] font-medium">Select Starbucks® merchandise</h1>
          <p class="mt-[20px]">
            Take home a signature cup, drink tumbler or your choice of coffee
            merch up to $20.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Endless Extras -->
<section class="py-10 w-full">
  <div class="w-full max-w-screen-2xl mx-auto text-center py-12">
    <div class="max-w-screen-sm mx-auto">
      <h1 class="text-[26px] pb-4 font-medium">Endless Extras</h1>
      <p class="md:text-[16px] text-[14px] text-center">
        Joining Starbucks® Rewards means unlocking access to exclusive benefits.
        Say hello to easy ordering, tasty Rewards and—yes, free coffee.
      </p>
    </div>
  </div>
  <div
    class="max-w-screen-2xl mx-auto px-4 grid md:grid-cols-3 grid-cols-1 gap-8">
    <!-- Card-1 -->
    <div
      class="flex md:gap-6 gap-4 md:flex-col md:items-center md:text-center md:text-[14px] text-[12px]">
      <img
        src="../../images/reward/1-fun-freebies.jpg"
        alt=""
        class="w-[112px] h-[112px] object-cover" />

      <div class="flex flex-col gap-3">
        <h2 class="md:text-[20px] text-[16px] font-medium">Fun freebies</h2>
        <p class="flex flex-col md:text-[16px] text-[14px]">
          Not only can you earn free coffee, look forward to a birthday treat
          plus coffee and tea refills.
          <a class="text-green-700 hover:underline pt-3" href="#">Learn more</a>
        </p>
      </div>
    </div>

    <!-- Card-2 -->
    <div
      class="flex md:gap-6 gap-4 md:flex-col md:items-center md:text-center md:text-[14px] text-[12px]">
      <img
        src="../../images/reward/2-order-and-pay-ahead.jpg"
        alt=""
        class="w-[112px] h-[112px] object-cover" />

      <div class="flex flex-col gap-3">
        <h2 class="md:text-[20px] text-[16px] font-medium">
          Order & pay ahead
        </h2>
        <p class="flex flex-col md:text-[16px] text-[14px]">
          Enjoy the convenience of in-store, curbside or drive-thru pickup at
          select stores.
          <a class="text-green-700 hover:underline pt-4" href="#">Learn more</a>
        </p>
      </div>
    </div>

    <!-- Card-3 -->
    <div
      class="flex md:gap-6 gap-4 md:flex-col md:items-center md:text-center md:text-[14px] text-[12px]">
      <img
        src="../../images/reward/3-get-to-free-faster.jpg"
        alt=""
        class="w-[112px] h-[112px] object-cover" />

      <div class="flex flex-col gap-3">
        <h2 class="md:text-[20px] text-[16px] font-medium">
          Get to free faster
        </h2>
        <p class="flex flex-col md:text-[16px] text-[14px]">
          Earn Stars even quicker with Bonus Star challenges, Double Star Days
          and exciting games.
          <a class="text-green-700 hover:underline pt-4" href="#">Learn more</a>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Cash or card, you earn Stars -->
<!--  -->
<section id="cashOrcard" class="w-full bg-[#f2f0eb] mt-[100px] p-6 2xl:px-0">
  <div class="max-w-screen-2xl mx-auto h-full py-[40px]">
    <!-- heading -->
    <div class="max-w-screen-sm mx-auto flex-col text-center">
      <h3 class="text-[26px] font-medium pb-[15px]">
        Cash or card, you earn Stars
      </h3>
      <p>
        No matter how you pay, you can earn Stars with your morning coffee.
        Those Stars add up to (really delicious) Rewards.
      </p>
    </div>
    
    <!-- instruction 1 -->
    <div
      class="w-full mt-[50px] flex flex-col md:flex-row justify-between gap-2 px-4">
      <div class="w-[480px] md:pb-0 pb-6">
        <h4 class="text-[20px] font-medium flex items-center">
          1
          <span class="pr-2"
            ><img
              class="size-[15px]"
              src="../../images/reward/star (1).png"
              alt=""
          /></span>
          per dollar
        </h4>
        <p class="md:text-[16px] text-[14px]">Pay as you go</p>
      </div>

      <div class="max-w-[480px] flex gap-4 md:pb-0 pb-10">
        <div>
          <img
            class="w-[112px] h-[158px]"
            src="../../images/reward/1A.png"
            alt="" />
        </div>
        <div class="w-[305px] h-[158px]">
          <h4 class="md:text-[20px] text-[16px] font-medium">
            Scan and pay separately
          </h4>
          <p class="my-[10px] md:text-[16px] text-[14px]">
            Use cash or credit/debit card at the register.
          </p>
        </div>
      </div>
      <div class="max-w-[480px] flex gap-4">
        <div>
          <img
            class="w-[112px] h-[158px]"
            src="../../images/reward/1B.png"
            alt="" />
        </div>
        <div class="w-[305px] h-[158px]">
          <h4 class="md:text-[20px] text-[16px] font-medium">
            Save payment in the app
          </h4>
          <p class="my-[10px] md:text-[16px] text-[14px]">
            Check-out faster by saving a credit/debit card or PayPal to your
            account. You’ll be able to order ahead or scan and pay at the
            register in one step.
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="py-[20px]">H</div> -->
    <hr
      class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-300 flex items-center justify-between gap-2" />
    <!-- instruction 2 -->
    <div
      class="w-full mt-[50px] flex flex-col md:flex-row justify-between gap-2 px-4">
      <div class="w-[480px] md:pb-0 pb-6">
        <h4 class="text-[20px] font-medium flex items-center">
          2
          <span class="pr-2"
            ><img
              class="size-[15px]"
              src="../../images/reward/star (1).png"
              alt=""
          /></span>
          per dollar
        </h4>
        <p class="md:text-[16px] text-[14px]">Add funds in the app</p>
      </div>

      <div class="max-w-[480px] flex gap-4 md:pb-0 pb-10">
        <div>
          <img
            class="w-[112px] h-[158px]"
            src="../../images/reward/2A.png"
            alt="" />
        </div>
        <div class="w-[305px] h-[158px]">
          <h4 class="md:text-[20px] text-[16px] font-medium">Preload</h4>
          <p class="my-[10px] md:text-[16px] text-[14px]">
            To save time and earn Stars twice as fast, add money to your digital
            Starbucks Card using any payment option. Scan and pay in one step or
            order ahead in the app.
          </p>
        </div>
      </div>
      <div class="max-w-[480px] flex gap-4">
        <div>
          <img
            class="w-[112px] h-[158px]"
            src="../../images/reward/2B.png"
            alt="" />
        </div>
        <div class="w-[305px] h-[158px]">
          <h4 class="md:text-[20px] text-[16px] font-medium">
            Register your gift card
          </h4>
          <p class="my-[10px] md:text-[16px] text-[14px]">
            Register your gift card Then use it to pay through the app. You can
            even consolidate balances from multiple cards in one place.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- keep the Rewards Coming -->
<section
  class="remove-bg md:p-10 p-0 w-full bg-[url('../../images/reward/reward-bg.webp')] flex justify-center items-center">
  <div class="w-full flex justify-center bg-[#d4e9e2]">
    <!-- inner box -->
    <div
      class="2xl:px-0 my-[50px] w-full md:max-w-screen-2xl flex items-center justify-center flex-col md:flex-row">
      <!-- star left -->
      <div class="flex justify-start w-full">
        <img
          class="hidden md:flex md:w-auto w-20"
          src="../../images/reward/stars.png"
          alt="" />
        <img
          class="flex md:hidden md:w-auto w-20"
          src="../../images/reward/stars.png"
          alt="" />
      </div>
      <!-- heading -->
      <div class="bg-[#d4e9e2] pt-[20px]">
        <div class="max-w-screen-sm mx-auto flex-col text-center">
          <h3 class="text-[26px] font-medium pb-[15px]">
            Keep the Rewards Coming
          </h3>
          <p>
            The Rewards don't stop at your morning coffee. Join Starbucks®
            Rewards and unlock perks from our partners, all while earning more
            Stars.
          </p>
        </div>
        <!-- content 2 boxes -->
        <div class="flex flex-col md:flex-row justify-between gap-6 p-[50px]">
          <!-- box 1 -->
          <div class="w-full flex justify-center items-center flex-row md:flex-col md:gap-0 gap-8">
            <!-- image -->
            <div class="flex w-[350px] md:w-[190px] h-auto justify-center">
              <img
                class="w-full h-full object-contain"
                src="../../images/reward/delta-skymiles.webp"
                alt="" />
            </div>
            <!-- text -->
            <div class="pt-6">
              <p class="md:text-center text-left pl-4">
                <a class="text-green-700 hover:underline" href="https://www.deltastarbucks.com/content/starbucks/en/overview.html?mkcpgn=dipd-sbux7042"
                  >Link your Delta SkyMiles®</a
                >
                and Starbucks® Rewards accounts to earn 1 mile per $1 spent at
                Starbucks and double Stars on Delta travel days.1
              </p>
            </div>
          </div>
          <!-- box 2 -->
          <div class="w-full flex justify-center items-center flex-row md:flex-col md:gap-0 gap-8">
            <!-- image -->
            <div class="w-[350px] md:w-[190px] h-auto">
              <img
                class="w-full h-full object-contain"
                src="../../images/reward/bank-of-america.png"
                alt="" />
            </div>
            <!-- text -->
            <div class="pt-6">
              <p class="md:text-center text-left pl-4">
                <a class="text-green-700 hover:underline" href="https://promotions.bankofamerica.com/starbucks?cm_mmc=ESZ-EnterpriseSales-_-Cobrand_Site-_-ES35LT0004_StarbucksRewardsModuleBofA_SRModuleBofA-_-StarbucksPartnerMktg"
                  >Link your Bank of America</a
                >
                eligible card and Starbucks® Rewards account to earn 2% Cash
                Back and Bonus Stars on qualifying Starbucks in-app purchases.2
              </p>
            </div>
          </div>
        </div>
        <!-- join btn -->
        <a href="../../pages/join-now/join-now.html" class="flex justify-center items-center md:mt-[35px] mt-0 cursor-pointer">
          <button
            class="hover:opacity-90 h-3 p-4 my-4 items-center flex justify-center text-white bg-green-700 rounded-full">
            Join Startbuck® Rewards
          </button>
        </a>
      </div>
      <!-- star right -->
      <div class="flex justify-end w-full">
        <img
          class="hidden md:flex md:w-auto w-20"
          src="../../images/reward/starsright.png"
          alt="" />
        <img
          class="flex md:hidden md:w-auto w-20"
          src="../../images/reward/starsright.png"
          alt="" />
      </div>
    </div>
  </div>
</section>

<!-- question -->
<section class="w-full">
  <div
    class="max-w-screen-2xl mx-auto my-[100px] flex-col flex justify-center items-center">
    <div class="max-w-screen-sm px-4">
      <h4 class="text-[26px]">Questions?</h4>
      <p class="pt-[10px]">
        We want to help in any way we can. You can ask your barista anytime or
        we’ve answered the most commonly asked questions
        <span class="inline-block">
          <a
            href="https://customerservice.starbucks.com/sbux"
            class="text-green-700 hover:underline flex items-center gap-1">
            right over here<img
              class="size-[15px]"
              src="../../images/reward/external-link.png"
              alt="" />
          </a> </span
        >.
      </p>
    </div>
  </div>
</section>

<!-- instruction -->
<section class="w-full bg-[#f9f9f9]">
  <!-- paragraph -->
  <div class="max-w-screen-2xl mx-auto text-[14px] p-6 2xl:px-0">
    <!-- paragraph -->

    <div class="">
      <p class="">
        1Excludes taxes and gratuities. At participating stores. Some
        restrictions apply. Flights purchased close to departure may not earn
        double Stars. Stars and miles may not be earned on purchases of alcohol,
        Starbucks Cards and Starbucks Card reloads. For details, visit

        <span class="inline-block">
          <a
            href="https://www.deltastarbucks.com/content/starbucks/en/terms-and-conditions.html"
            class="text-green-700 hover:underline flex items-center gap-1">
            deltastarbucks.com/terms<img
              class="size-[15px]"
              src="../../images/reward/external-link.png"
              alt="" />
          </a>
        </span>
      </p>
      <p class="pt-[10px]">
        2At participating stores only. Some restrictions apply. Linked Card
        members will earn 2% Cash Back on the full purchase price of every
        Qualifying Purchase. Extra Star offer excludes taxes and tips. Stars may
        not be earned on purchases of alcohol or on reloads of Starbucks Cards
        that are not registered. For details, visit
        <span class="inline-block">
          <a
            href="https://promotions.bankofamerica.com/starbucks#disclosure-1223753557"
            class="text-green-700 hover:underline flex items-center gap-1">
            Terms and Conditions
            <img
              class="size-[15px]"
              src="../../images/reward/external-link.png"
              alt="" />
          </a> </span
        >. Bank of America, N.A. Member FDIC.
      </p>
    </div>

    <!-- paragrap section -->
    <div class="pt-4">
      <!-- paragraph top -->
      <div class="flex justify-between flex-col md:flex-row">
        <!-- head-text-1 -->
        <div class="flex flex-col md:w-[50%] w-auto">
          <h4 class="text-[#8f8f8f]">EARNING STARS</h4>
          <p class="py-[10px]">
            Stars cannot be earned on purchases of alcohol, Starbucks Cards or
            Starbucks Card reloads.
          </p>
          <p class="py-[10px]">
            Earn 1 Star per $1 spent when you scan your member barcode in the
            app, then pay with cash, credit/debit cards or mobile wallets at
            participating stores. You can also earn 1 Star per $1 spent when you
            link a payment method and pay directly through the app.
          </p>
          <p class="py-[10px]">
            Earn 2 Stars per $1 spent when you load funds and pay with your
            digital Starbucks Card in the app. You can also earn 2 Stars per $1
            spent when you pay in-person at a participating store with your
            registered physical Starbucks Card or scan your member barcode in
            the app, and then use any physical Starbucks Card (regardless of
            whether it is registered) to complete the purchase.
          </p>
        </div>
        <!-- head-text-2 -->
        <div class="md:w-[50%] w-auto">
          <h4 class="text-[#8f8f8f]">TERMS OF USE</h4>
          <p class="py-[10px]">
            For full program details visit
            <span class="inline-block">
              <a
                href="../../pages/privacy/term.html"
                class="text-green-700 hover:underline flex items-center gap-1">
                starbucks.com/rewards/terms
                <img
                  class="size-[15px]"
                  src="../../images/reward/external-link.png"
                  alt=""
              /></a>
            </span>
          </p>
          <p>
            Starbucks® Rewards benefits are available at participating Starbucks
            stores. Not all stores have the ability to honor Rewards at this
            time. Visit the
            <span class="inline-block">
              <a
                href="../../pages/find-a-store/find-a-store.html"
                class="text-green-700 hover:underline flex items-center gap-1">
                Starbucks Store Locator

                <img
                  class="size-[15px]"
                  src="../../images/reward/external-link.png"
                  alt="" />
              </a> </span
            >, and search for locations honoring “Redeem Rewards”.
          </p>
        </div>
      </div>
      <!-- paragraph-bottom -->
      <div class="flex justify-between flex-col md:flex-row">
        <div class="flex flex-col md:w-[50%] w-auto">
          <h4 class="text-[#8f8f8f] md:pt-0 pt-[10px]">BENEFITS</h4>
          <p class="py-[10px]">
            Free refills available during same in-store visit only. To qualify
            for the Birthday Reward, you must have made at least one
            Star-earning transaction.
          </p>
        </div>
        <!-- head-text-2 -->
        <div class="md:w-[50%] w-auto">
          <h4 class="text-[#8f8f8f]">REDEEMING REWARDS</h4>
          <p class="py-[10px]">
            Rewards cannot be redeemed for alcoholic beverages or multi-serve
            items. You pay the difference for any beverage customization over $1
            and/or merchandise item over $20. Not all stores honor tiered
            Rewards. Select stores redeem 200 Stars for free food or drink items
            only.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
